

/* Start:/bitrix/templates/.default/components/bitrix/news.list/rozmer/style.css?1437420453150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/menu/menu_bottom/style.min.css?1437420453490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(/bitrix/templates/.default/components/bitrix/menu/menu_bottom/images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */
/* /bitrix/templates/.default/components/bitrix/news.list/rozmer/style.css?1437420453150 */
/* /bitrix/templates/.default/components/bitrix/menu/menu_bottom/style.min.css?1437420453490 */
