/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("fonts/OpenSansBold/OpenSansBold.eot");
  src: url("fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "Cond`s"; */
/* font-family: "OpenSansExtraBold"; */
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansItalic"; */
@font-face {
  font-family: "OpenSansItalic";
  src: url("fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("fonts/OpenSansLight/OpenSansLight.eot");
  src: url("fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansLightItalic"; */
/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansRegularItalic"; */
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansSemiBold"; */
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Roboto Regular */
@font-face {
  font-family: RobotoRegular;
  src: url("fonts/Roboto-Regular.ttf"); }
.popup-form {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 40;
  background: rgba(255, 255, 255, 0.85); }
  .popup-form .form-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -165px; }
    .popup-form .form-wraper .send-form {
      position: relative; }
      .popup-form .form-wraper .send-form .close-form {
        position: absolute;
        top: -19px;
        right: -19px; }
        .popup-form .form-wraper .send-form .close-form:hover {
          cursor: pointer; }

.popup-privacy-policy {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  background: white; }
  .popup-privacy-policy .ppp-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -400px; }
    .popup-privacy-policy .ppp-wraper .ppp-text {
      height: 700px;
      width: 800px;
      border: 2px solid black;
      position: relative; }
      .popup-privacy-policy .ppp-wraper .ppp-text .closer {
        position: absolute;
        top: -19px;
        right: -19px; }
        .popup-privacy-policy .ppp-wraper .ppp-text .closer:hover {
          cursor: pointer; }

.popup-success {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 40;
  background: rgba(255, 255, 255, 0.85); }
  .popup-success .success-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -165px; }
    .popup-success .success-wraper .success {
      position: relative; }
      .popup-success .success-wraper .success .close-button {
        position: absolute;
        top: -19px;
        right: -19px; }
        .popup-success .success-wraper .success .close-button:hover {
          cursor: pointer; }

.popup-response {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 40;
  background: rgba(255, 255, 255, 0.85); }
  .popup-response .response-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -165px; }
    .popup-response .response-wraper .response-form {
      position: relative; }
      .popup-response .response-wraper .response-form .close-form {
        position: absolute;
        top: -19px;
        right: -19px; }
        .popup-response .response-wraper .response-form .close-form:hover {
          cursor: pointer; }

.fancybox-overlay {
  background: rgba(255, 255, 255, 0.8) !important; }
  .fancybox-overlay .fancy-title {
    text-align: center; }
    .fancybox-overlay .fancy-title .text {
      color: #ffffff;
      font-family: OpenSansRegular;
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 15px; }

.fancybox-wrap .fancybox-skin {
  background: #3f3f3f; }
  .fancybox-wrap .fancybox-skin .fancybox-close {
    width: 19px;
    height: 19px;
    background: url("../images/close-popup.png"); }
  .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-next {
    right: -24%; }
    .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-next span {
      width: 31px;
      height: 32px;
      background: url("../images/slider/arrow-next.png");
      visibility: visible; }
  .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-prev {
    left: -24%; }
    .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-prev span {
      width: 31px;
      height: 32px;
      background: url("../images/slider/arrow-prev.png");
      visibility: visible; }

* {
  padding: 0;
  margin: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.nice-hover {
  transition: background-color 0.3s linear, color 0.3s linear;
  -moz-transition: background-color 0.3s linear, color 0.3s linear;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear; }

.container {
  width: 1000px;
  margin: auto; }

.o-trans {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.color-header {
  width: 950px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  color: #333333;
  font-family: OpenSansRegular;
  font-size: 33px;
  position: relative; }
  .color-header .text-bold {
    font-family: OpenSansBold; }
  .color-header::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: url("../images/colorfull-line.png");
    background-size: cover; }



.green-button {
  display: table;
  margin: auto;
  margin-top: 30px;
  padding: 9px 60px 10px 60px;
  background: #a7dc3b;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  text-align: center; }
  .green-button .gb-link {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 16px; }

.green-bottom {
  margin-top: 30px;
  background: #ffffff;
  text-align: center;
  color: #339933;
  font-family: OpenSansBold;
  font-size: 19px; }

.send-form {
  width: 330px;
  height: 470px;
  background: #3f3f3f; }
  .send-form .form-header {
    text-transform: uppercase;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 25px;
    line-height: 18px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 5px;
    padding-top: 25px; }
  .send-form .form-small-text {
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px; }
  .send-form .form-input {
    width: 290px;
    height: 28px;
    display: block;
    margin: 0 auto;
    padding-left: 10px; }
  .send-form .help-text {
    font-family: OpenSansRegular;
    color: #99cc33;
    font-size: 13px;
    line-height: 11px;
    text-align: left;
    float: right;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-right: 14px; }
  .send-form .header-for-upload {
    text-transform: uppercase;
    font-family: OpenSansSemiBold;
    color: #ffffff;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px; }
  .send-form .upload-button {
    width: 300px;
    margin: auto;
    margin-bottom: 10px; }
    .send-form .upload-button .real-button {
      display: none; }
    .send-form .upload-button .uploaded-name {
      height: 28px;
      width: 166px; }
    .send-form .upload-button .fake-button {
      height: 33px;
      width: 124px;
      border: none;
      font-family: OpenSansRegular;
      color: #333333;
      font-size: 13px;
      line-height: 9px;
      text-align: center;
      background: #a7dc3b;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      position: relative; }
      .send-form .upload-button .fake-button::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); }
  .send-form .send-button {
    border: none;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 16px;
    background: #ff3399;
    text-align: center;
    height: 40px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative; }
    .send-form .send-button::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5); }
    .send-form .send-button:hover {
      background: #ff3399; }
  .send-form .privacy {
    font-family: OpenSansRegular;
    color: #99cc33;
    font-size: 13px;
    line-height: 11px;
    text-decoration: none;
    text-align: center; }
    .send-form .privacy:hover {
      cursor: pointer;
      text-decoration: underline; }

.success {
  width: 330px;
  height: 130px;
  background: #3f3f3f;
  padding-top: 10px;
  box-sizing: border-box; }
  .success .white-text {
    margin-left: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: OpenSansRegular;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase; }
  .success .green-text {
    margin-left: 25px;
    color: #99cc33;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 17px;
    text-align: left; }

.response-form {
  width: 330px;
  height: 470px;
  background: #3f3f3f; }
  .response-form .form-header {
    text-transform: uppercase;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 5px;
    padding-top: 25px; }
  .response-form .form-small-text {
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 20px; }
  .response-form .form-input {
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 14px;
    box-sizing: border-box;
    width: 300px;
    height: 28px;
    display: block;
    margin: auto;
    padding-left: 10px;
    margin-bottom: 20px; }
  .response-form .response-text {
    resize: none;
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 90px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 14px; }
  .response-form .upload-button {
    width: 300px;
    margin: auto;
    margin-bottom: 10px; }
    .response-form .upload-button .real-button {
      display: none; }
    .response-form .upload-button .uploaded-name {
      height: 28px;
      width: 166px;
      color: #333333;
      font-family: OpenSansRegular;
      font-size: 14px;
      box-sizing: border-box;
      padding-left: 10px; }
    .response-form .upload-button .fake-button {
      height: 33px;
      width: 124px;
      border: none;
      font-family: OpenSansRegular;
      color: #333333;
      font-size: 13px;
      line-height: 9px;
      text-align: center;
      background: #a7dc3b;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      position: relative; }
      .response-form .upload-button .fake-button::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); }
  .response-form .send-button {
    border: none;
    font-family: OpenSansRegular;
    color: #ffffff;
    font-size: 16px;
    background: #ff3399;
    text-align: center;
    height: 40px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    position: relative; }
    .response-form .send-button::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5); }
    .response-form .send-button:hover {
      background: #ff3399; }
  .response-form .privacy {
    font-family: OpenSansRegular;
    color: #99cc33;
    font-size: 13px;
    line-height: 11px;
    text-decoration: none;
    text-align: center; }
    .response-form .privacy:hover {
      cursor: pointer;
      text-decoration: underline; }

.purple-checkbox {
  width: 23px;
  height: 23px;
  position: relative; }
  .purple-checkbox input[type=checkbox] {
    display: none; }
  .purple-checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border: 1px solid #b4b4b4;
    background: #ffffff; }
    .purple-checkbox label::after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #f83a99;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .purple-checkbox label:hover::after {
      opacity: 0.5; }

.purple-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1; }

.ui-selectmenu-menu .ui-menu .ui-menu-item {
  margin: 1px;
  width: 227px;
  padding: 6px 0px 6px 11px;
  color: #339933;
  font-family: OpenSansRegular;
  font-size: 15px;
  white-space: normal;
  background: #ffffff;
  border: none; }
  .ui-selectmenu-menu .ui-menu .ui-menu-item:hover {
    outline: 1px solid #666666;
    background: rgba(0, 0, 0, 0.2); }

.select-overflow {
  height: 500px; }

header {
  background: #f8f8f8; }
  header .fixed-menu {
    width: 100%;
    z-index: 31; }
  header .color-block .green-color, header .color-block .pink-color, header .color-block .cyan-color, header .color-block .red-color {
    height: 4px;
    float: left; }
  header .color-block .green-color {
    width: 37%;
    background: #99cc33; }
  header .color-block .pink-color {
    width: 20%;
    background: #ff3399; }
  header .color-block .cyan-color {
    width: 18%;
    background: #66ccff; }
  header .color-block .red-color {
    width: 25%;
    background: #ff6666; }
  header .menu-block {
    background: #3f3f3f; }
    header .menu-block .menu {
      float: right;
      padding: 0;
      padding-top: 18px;
      padding-bottom: 13px;
      text-align: right; }
      header .menu-block .menu .menu-item {
        list-style: none;
        display: inline;
        text-align: right; }
        header .menu-block .menu .menu-item .link {
          color: #ffffff;
          font-family: OpenSansBold;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          padding: 5px 15px 5px 15px;
          position: relative;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
          header .menu-block .menu .menu-item .link:hover {
            color: #ff3399; }
        header .menu-block .menu .menu-item .mi-active {
          background: #ff3399;
          cursor: pointer;
          -webkit-box-shadow: 0 1px 1px 0rgba 0, 0, 0, 0.39;
          -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.39); }
          header .menu-block .menu .menu-item .mi-active:hover {
            color: #ffffff; }
          header .menu-block .menu .menu-item .mi-active::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5); }
  header .info-block {
    padding-top: 5px;
    padding-bottom: 5px; }
    header .info-block .logo-block, header .info-block .contact-block {
      float: left; }
    header .info-block .logo-block a {
      text-decoration: none; }
    header .info-block .logo-block .logo {
      width: 80%; }
    header .info-block .contact-block {
      padding-top: 15px;
      margin-left: 170px; }
      header .info-block .contact-block .phone {
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 25px; }
      header .info-block .contact-block .work-time {
        text-transform: uppercase;
        color: #339933;
        font-family: OpenSansRegular;
        font-size: 15px; }
    header .info-block .city-block {
      float: right;
      padding-top: 15px;
      margin-left: 50px; }
      header .info-block .city-block .city-label {
        float: left;
        margin-right: 5px;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 14px; }
      header .info-block .city-block #city-select {
        width: 260px;
        border: 1px solid black; }
      header .info-block .city-block .ui-selectmenu-button {
        border-radius: 0px;
        width: 256px !important; }
      header .info-block .city-block .ui-selectmenu-text {
        padding: 6px 0px 6px 11px;
        color: #339933;
        font-family: OpenSansRegular;
        font-size: 15px;
        white-space: normal;
        background: #ffffff; }
      header .info-block .city-block .ui-icon {
        height: 100%;
        top: 0;
        right: 0;
        margin-top: 0;
        background-image: url("../images/triangle.png");
        background-position: 5px 22px;
        background-color: #444444; }
  header .advantages {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding-bottom: 9px;
    padding-top: 9px; }
    header .advantages .advantage {
      display: inline-block;
      color: #333333;
      font-family: OpenSansRegular;
      font-size: 15px;
      text-transform: uppercase; }
      header .advantages .advantage:nth-child(2) {
        margin-right: 47px;
        margin-left: 47px; }
      header .advantages .advantage .a-image {
        margin-right: 15px; }
  header .menu-top {
    position: fixed;
    top: 0; }

.original-gift {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/background1.png");
  background-size: cover; }
  .original-gift .text-for-form {
    width: 635px;
    padding-bottom: 28px;
    background: rgba(121, 168, 28, 0.9);
    position: relative; }
    .original-gift .text-for-form .text-bold, .original-gift .text-for-form .text-normal, .original-gift .text-for-form .text-small {
      color: #f8f8f8;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px; }
    .original-gift .text-for-form .text-bold {
      font-family: OpenSansBold;
      font-size: 36px;
      text-transform: uppercase; }
    .original-gift .text-for-form .text-normal {
      font-family: OpenSansRegular;
      font-size: 36px;
      text-transform: uppercase; }
    .original-gift .text-for-form .text-small {
      font-family: OpenSansRegular;
      font-size: 22px; }
    .original-gift .text-for-form .pink-arrow {
      color: #f8f8f8;
      font-family: OpenSansRegular;
      font-size: 22px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 20px;
      position: absolute;
      bottom: -30px;
      right: -20px;
      background-image: url("../images/pink-arrow.png");
      background-size: cover;
      width: 474px;
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg); }
  .original-gift .form-wraper {
    float: right; }

.examples {
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 60px; }
  .examples .photo-links {
    margin: auto;
    width: 950px; }
    .examples .photo-links .photo-box {
      height: 300px;
      width: 300px;
      display: inline-block;
      float: left;
      position: relative;
      margin-bottom: 10px;
      margin-top: 10px; }
      .examples .photo-links .photo-box:hover .hidden-arrow {
        opacity: 1; }
      .examples .photo-links .photo-box:hover .text-place {
        opacity: 0; }
      .examples .photo-links .photo-box::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 300px;
        background: url("../images/photo-frame.png") center center no-repeat; }
      .examples .photo-links .photo-box:nth-child(3n-1) {
        margin-right: 25px;
        margin-left: 25px; }
      .examples .photo-links .photo-box:nth-child(even) .text-place {
        background: rgba(162, 222, 253, 0.97); }
      .examples .photo-links .photo-box:nth-child(odd) .text-place {
        background: rgba(201, 221, 133, 0.97); }
      .examples .photo-links .photo-box .hidden-arrow {
        opacity: 0;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        }
      .examples .photo-links .photo-box .photo {
        height: 100%;
        width: 100%; }
      .examples .photo-links .photo-box .text-place {
        position: absolute;
        bottom: 6%;
        left: 4%;
        height: 94px;
        width: 272px;
        text-align: center;
        display: table; }
        .examples .photo-links .photo-box .text-place .box-text {
          padding: 0 8px 0 8px;
          display: table-cell;
          vertical-align: middle;
          text-transform: uppercase;
          color: #333333;
          font-family: OpenSansBold;
          font-size: 22px; }

.why-picture {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/background-why-picture.png");
  background-size: cover; }
  .why-picture .advantages-list {
    width: 960px;
    margin: auto;
    margin-bottom: 20px; }
    .why-picture .advantages-list .advantage {
      width: 295px;
      height: 135px;
      float: left;
      margin-bottom: 20px; }
      .why-picture .advantages-list .advantage:hover .advantage-text {
        color: #cc0066;
        cursor: pointer; }
        .why-picture .advantages-list .advantage:hover .advantage-text .text-bold {
          color: #cc0066;
          cursor: pointer; }
      .why-picture .advantages-list .advantage:nth-child(3n-1) {
        margin-right: 37px;
        margin-left: 37px; }
      .why-picture .advantages-list .advantage .advantage-img {
        margin-bottom: 20px; }
      .why-picture .advantages-list .advantage .advantage-text {
        -webkit-transition: color 0.4s linear;
        -moz-transition: color 0.4s linear;
        -ms-transition: color 0.4s linear;
        -o-transition: color 0.4s linear;
        transition: color 0.4s linear;
        color: #004173;
        font-family: OpenSansSemiBold;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase; }
        .why-picture .advantages-list .advantage .advantage-text .text-bold {
          -webkit-transition: color 0.4s linear;
          -moz-transition: color 0.4s linear;
          -ms-transition: color 0.4s linear;
          -o-transition: color 0.4s linear;
          transition: color 0.4s linear;
          font-family: OpenSansExtraBold; }
  .why-picture .why-picture-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; }
    .why-picture .why-picture-bottom .hint {
      position: absolute;
      top: 0;
      width: 300px;
      height: 80px;
      background-color: #68cdff;
      display: table; }
    .why-picture .why-picture-bottom .left-hint {
      left: 0;
      -webkit-transition: opacity 0.4s linear;
      -moz-transition: opacity 0.4s linear;
      -ms-transition: opacity 0.4s linear;
      -o-transition: opacity 0.4s linear;
      transition: opacity 0.4s linear; }
    .why-picture .why-picture-bottom .right-hint {
      right: 0;
      -webkit-transition: opacity 0.8s linear;
      -moz-transition: opacity 0.8s linear;
      -ms-transition: opacity 0.8s linear;
      -o-transition: opacity 0.8s linear;
      transition: opacity 0.8s linear; }
    .why-picture .why-picture-bottom .right-arrow {
      position: relative;
      height: 100%;
      display: table; }
      .why-picture .why-picture-bottom .right-arrow::after {
        position: absolute;
        content: "";
        right: -2.6%;
        top: 44%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4.5px 0 4.5px 8px;
        border-color: transparent transparent transparent #68cdff; }
    .why-picture .why-picture-bottom .left-arrow {
      position: relative;
      height: 100%;
      display: table; }
      .why-picture .why-picture-bottom .left-arrow::after {
        position: absolute;
        left: -2.6%;
        top: 44%;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4.5px 8px 4.5px 0;
        border-color: transparent #68cdff transparent transparent; }
    .why-picture .why-picture-bottom .hint-text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 12px;
      color: #003366;
      font-family: OpenSansLight;
      font-size: 14px; }
      .why-picture .why-picture-bottom .hint-text .bold-text {
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 14px; }
    .why-picture .why-picture-bottom .mackup-button {
      display: table;
      margin: auto;
      width: 300px;
      height: 60px;
      text-align: center;
      background: #a7dc3b;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      position: relative; }
      .why-picture .why-picture-bottom .mackup-button::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); }
      .why-picture .why-picture-bottom .mackup-button .mackup-link {
        display: table-cell;
        vertical-align: middle;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase; }

.slider {
  padding-top: 20px;
  padding-bottom: 30px; }
  .slider .color-header {
    width: 920px; }
  .slider .slider-control {
    position: relative; }
    .slider .slider-control .slider-prev, .slider .slider-control .slider-next {
      width: 31px;
      height: 32px;
      position: absolute;
      bottom: 15px;
      opacity: 0.5; }
      .slider .slider-control .slider-prev:hover, .slider .slider-control .slider-next:hover {
        opacity: 1;
        cursor: pointer; }
    .slider .slider-control .slider-prev {
      left: 0;
      background: url("../images/slider/arrow-prev.png") no-repeat; }
    .slider .slider-control .slider-next {
      right: 0;
      background: url("../images/slider/arrow-next.png") no-repeat; }
  .slider .two-rows-carousel {
    margin-bottom: 10px; }
    .slider .two-rows-carousel .image {
      display: block;
      margin: 0 auto;
      width: 273px;
      height: 224px;
      border: 45px solid white;
      border-top-width: 0px;
      border-bottom-width: 10px; }
      .slider .two-rows-carousel .image:hover {
        cursor: pointer; }
    .slider .two-rows-carousel .owl-controls {
      margin: 0; }
      .slider .two-rows-carousel .owl-controls .owl-pagination, .slider .two-rows-carousel .owl-controls .owl-buttons {
        display: none; }
  .slider .link-box {
    display: block;
    text-align: center; }
    .slider .link-box .clients-link {
      text-align: center;
      color: #339933;
      font-family: OpenSansSemiBold;
      font-size: 15px;
      text-decoration: none; }
      .slider .link-box .clients-link:hover {
        text-decoration: underline; }
  .slider .slider-opacity {
    position: relative; }
    .slider .slider-opacity .left-side, .slider .slider-opacity .right-side {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 350px;
      height: 500px;
      background: rgba(255, 255, 255, 0.55); }
    .slider .slider-opacity .left-side {
      left: 0; }
    .slider .slider-opacity .right-side {
      right: 0; }

.free-delivery {
  padding-top: 35px;
  padding-bottom: 40px;
  background: #e7e7e7; }
  .free-delivery .photo-block {
    float: left;
    width: 265px;
    height: 345px;
    background: url("../images/frame.png") no-repeat;
    -webkit-box-shadow: 20px 6px 8px 1px rgba(192, 192, 187, 0.6);
    -moz-box-shadow: 20px 6px 8px 1px rgba(192, 192, 187, 0.6);
    box-shadow: 20px 6px 8px 1px rgba(192, 192, 187, 0.6);
    position: relative; }
    .free-delivery .photo-block .photo-place {
      position: absolute;
      top: 36px;
      left: 36px;
      width: 195px;
      height: 270px; }
      .free-delivery .photo-block .photo-place .photo {
        width: 195px;
        height: 270px; }
      .free-delivery .photo-block .photo-place .rounded-small {
        display: table;
        position: absolute;
        top: 0;
        left: 100%;
        width: 284px;
        height: 269px;
        background: url("../images/rounded-small.png"); }
        .free-delivery .photo-block .photo-place .rounded-small .line-text {
          color: #c0c0c0;
          font-family: OpenSansSemiBold;
          font-size: 13px;
          padding-bottom: 5px;
          padding-right: 12px;
          text-align: right;
          display: table-cell;
          vertical-align: bottom;
          position: relative; }
          .free-delivery .photo-block .photo-place .rounded-small .line-text::after {
            position: absolute;
            bottom: 6%;
            right: -4px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 13px 5px;
            border-color: transparent transparent #c0c0c0 transparent; }
    .free-delivery .photo-block .rounded-big {
      display: table;
      position: absolute;
      top: 1px;
      left: 100%;
      width: 560px;
      height: 342px;
      background: url("../images/rounded-big.png"); }
      .free-delivery .photo-block .rounded-big .line-text {
        color: #c0c0c0;
        font-family: OpenSansSemiBold;
        font-size: 13px;
        padding-bottom: 5px;
        padding-right: 12px;
        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        position: relative; }
        .free-delivery .photo-block .rounded-big .line-text::after {
          position: absolute;
          bottom: 15%;
          right: -4px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 13px 5px;
          border-color: transparent transparent #c0c0c0 transparent; }
  .free-delivery .info-block {
    position: relative;
    z-index: 29;
    display: table;
    height: 345px;
    width: 660px;
    float: left;
    margin-left: 65px; }
    .free-delivery .info-block .align-center {
      display: table-cell;
      vertical-align: middle; }
      .free-delivery .info-block .align-center .info-text {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 40px;
        line-height: 40px; }
        .free-delivery .info-block .align-center .info-text .text-bold {
          font-family: OpenSansBold; }
      .free-delivery .info-block .align-center .buttons-block .send-and-get {
        float: left;
        display: table;
        width: 370px;
        height: 42px;
        text-align: center;
        background: #a7dc3b;
        -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
        position: relative; }
        .free-delivery .info-block .align-center .buttons-block .send-and-get::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: rgba(0, 0, 0, 0.5); }
        .free-delivery .info-block .align-center .buttons-block .send-and-get .sag-link {
          display: table-cell;
          vertical-align: middle;
          color: #333333;
          font-family: OpenSansRegular;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase; }
      .free-delivery .info-block .align-center .buttons-block .order {
        float: left;
        display: table;
        margin: auto;
        margin-left: 20px;
        height: 42px;
        width: 220px;
        text-align: center;
        background: #ff3399;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        position: relative; }
        .free-delivery .info-block .align-center .buttons-block .order::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: rgba(0, 0, 0, 0.5); }
        .free-delivery .info-block .align-center .buttons-block .order .order-link {
          display: table-cell;
          vertical-align: middle;
          color: #ffffff;
          font-family: OpenSansRegular;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase; }

.for-whom {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f8f8f8; }
  .for-whom .variant-loop {
    margin-bottom: 20px;
    position: relative; }
    .for-whom .variant-loop::before {
      position: absolute;
      top: 2%;
      left: 50%;
      margin-left: -37px;
      content: "";
      width: 74px;
      height: 74px;
      border-radius: 50%;
      border-top: 1px solid #dfdfdf;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .for-whom .variant-loop::after {
      position: absolute;
      bottom: 2%;
      left: 50%;
      margin-left: -37px;
      content: "";
      width: 74px;
      height: 74px;
      border-radius: 50%;
      border-bottom: 1px solid #dfdfdf; }
    .for-whom .variant-loop .variant {
      display: table;
      width: 445px;
      height: 90px;
      color: #333333; }
      .for-whom .variant-loop .variant .align-center {
        position: relative;
        display: table-cell;
        vertical-align: middle; }
        .for-whom .variant-loop .variant .align-center .variant-text {
          position: relative;
          border: 1px solid #f4f4f4;
          background: #ffffff;
          font-family: OpenSansRegular;
          font-size: 15px;
          padding: 6px 10px;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
          .for-whom .variant-loop .variant .align-center .variant-text .text-bold {
            font-family: OpenSansBold; }
      .for-whom .variant-loop .variant:nth-child(odd) {
        text-align: right;
        float: left; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center:hover::after {
          background: #ff3399; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center:hover::before {
          background: #ff3399; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center:hover .variant-text:hover {
          background: #99cc33;
          color: #ffffff;
          cursor: pointer; }
          .for-whom .variant-loop .variant:nth-child(odd) .align-center:hover .variant-text:hover::after {
            border-color: transparent transparent transparent #99cc33; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center::after {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: -4%;
          content: "";
          width: 1px;
          height: 90px;
          background: #dfdfdf;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: -20px;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: #dfdfdf;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center .variant-text::after {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: -2%;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent #ffffff;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
        .for-whom .variant-loop .variant:nth-child(odd) .align-center .variant-text::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: -11px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5.5px 0 5.5px 11px;
          border-color: transparent transparent transparent #f4f4f4;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
      .for-whom .variant-loop .variant:nth-child(even) {
        text-align: left;
        float: right; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center:hover::after {
          background: #ff3399; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center:hover::before {
          background: #ff3399; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center:hover .variant-text:hover {
          background: #99cc33;
          color: #ffffff;
          cursor: pointer; }
          .for-whom .variant-loop .variant:nth-child(even) .align-center:hover .variant-text:hover::after {
            border-color: transparent #99cc33 transparent transparent; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center::after {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: -4%;
          content: "";
          width: 1px;
          height: 90px;
          background: #dfdfdf;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: -22px;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: #dfdfdf;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center .variant-text:hover {
          background: #99cc33;
          color: #ffffff;
          cursor: pointer; }
          .for-whom .variant-loop .variant:nth-child(even) .align-center .variant-text:hover::after {
            border-color: transparent #99cc33 transparent transparent; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center .variant-text::after {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: -2%;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 10px 5px 0;
          border-color: transparent #ffffff transparent transparent;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
        .for-whom .variant-loop .variant:nth-child(even) .align-center .variant-text::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: -11px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5.5px 11px 5.5px 0;
          border-color: transparent #f4f4f4 transparent transparent;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }
      .for-whom .variant-loop .variant:nth-child(1) .align-center::after {
        position: absolute;
        bottom: -50%;
        right: -4%;
        content: "";
        width: 1px;
        height: 45px;
        background: #dfdfdf; }
      .for-whom .variant-loop .variant:nth-child(2) .align-center::after {
        position: absolute;
        bottom: -50%;
        left: -4%;
        content: "";
        width: 1px;
        height: 45px;
        background: #dfdfdf; }
      .for-whom .variant-loop .variant:nth-last-child(3) .align-center::after {
        position: absolute;
        top: -50%;
        right: -4%;
        content: "";
        width: 1px;
        height: 45px;
        background: #dfdfdf; }
      .for-whom .variant-loop .variant:nth-last-child(2) .align-center::after {
        position: absolute;
        top: -50%;
        left: -4%;
        content: "";
        width: 1px;
        height: 45px;
        background: #dfdfdf; }
  .for-whom .hands-block {
    display: table;
    margin: auto;
    margin-top: 20px;
    width: 1500px;
    height: 390px; }
    .for-whom .hands-block .hands {
      position: relative;
      float: left;
      margin-left: 25px; }
      .for-whom .hands-block .hands::before {
        z-index: 10;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }
      .for-whom .hands-block .hands img {
        position: absolute; }
      .for-whom .hands-block .hands:nth-child(1) {
        margin: 0;
        height: 390px;
        width: 354px; }
        .for-whom .hands-block .hands:nth-child(1)::before {
          background: url("../images/hands1.png") no-repeat; }
        .for-whom .hands-block .hands:nth-child(1) img {
          top: 0;
          left: 36px;
          width: 288px;
          height: 387px; }
      .for-whom .hands-block .hands:nth-child(2) {
        height: 390px;
        width: 193px; }
        .for-whom .hands-block .hands:nth-child(2)::before {
          background: url("../images/hands2.png") no-repeat; }
        .for-whom .hands-block .hands:nth-child(2) img {
          top: 34px;
          left: -1px;
          width: 160px;
          height: 225px; }
      .for-whom .hands-block .hands:nth-child(3) {
        height: 390px;
        width: 274px; }
        .for-whom .hands-block .hands:nth-child(3)::before {
          background: url("../images/hands3.png") no-repeat; }
        .for-whom .hands-block .hands:nth-child(3) img {
          top: 30px;
          left: 32px;
          width: 207px;
          height: 291px; }
      .for-whom .hands-block .hands:nth-child(4) {
        height: 390px;
        width: 277px; }
        .for-whom .hands-block .hands:nth-child(4)::before {
          background: url("../images/hands4.png") no-repeat; }
        .for-whom .hands-block .hands:nth-child(4) img {
          top: 39px;
          left: 17px;
          width: 220px;
          height: 307px; }
      .for-whom .hands-block .hands:nth-child(5) {
        height: 390px;
        width: 290px; }
        .for-whom .hands-block .hands:nth-child(5)::before {
          background: url("../images/hands5.png") no-repeat; }
        .for-whom .hands-block .hands:nth-child(5) img {
          top: 15px;
          left: 36px;
          width: 175px;
          height: 265px; }

.order-pikcher {
  padding-top: 20px;
  padding-bottom: 40px; }
  .order-pikcher .why-pikcher-list {
    position: relative; }
    .order-pikcher .why-pikcher-list .image-bg {
      width: 540px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto; }
    .order-pikcher .why-pikcher-list .pikcher-list .list-item {
      width: 225px;
      margin-top: 27px;
      margin-bottom: 22px; }
      .order-pikcher .why-pikcher-list .pikcher-list .list-item .text-bold {
        color: #339933;
        font-family: OpenSansExtraBold;
        font-size: 19px; }
      .order-pikcher .why-pikcher-list .pikcher-list .list-item .other-text {
        color: #339933;
        font-family: OpenSansLight;
        font-size: 16px; }
      .order-pikcher .why-pikcher-list .pikcher-list .list-item:nth-child(odd) {
        float: left;
        text-align: right;
        margin-right: 275px; }
      .order-pikcher .why-pikcher-list .pikcher-list .list-item:nth-child(even) {
        float: right;
        text-align: left;
        margin-left: 275px; }

.production {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f8f8f8; }
  .production .production-cycle {
    padding-top: 20px;
    padding-bottom: 20px; }
    .production .production-cycle .cycle-stage {
      width: 153px;
      display: inline-block;
      margin-left: 27px;
      margin-right: 27px;
      position: relative; }
      .production .production-cycle .cycle-stage:nth-child(odd)::after {
        position: absolute;
        top: 25%;
        right: -47%;
        content: "";
        width: 83px;
        height: 14px;
        background: url("../images/bottom-pink-arrow.png"); }
      .production .production-cycle .cycle-stage:nth-child(even)::after {
        position: absolute;
        top: 10%;
        right: -47%;
        content: "";
        width: 82px;
        height: 13px;
        background: url("../images/top-pink-arrow.png"); }
      .production .production-cycle .cycle-stage:first-child {
        margin-left: 0; }
      .production .production-cycle .cycle-stage:last-child {
        margin-right: -10px; }
        .production .production-cycle .cycle-stage:last-child::after {
          width: 0; }
      .production .production-cycle .cycle-stage .image-wraper {
        display: block;
        margin: auto;
        position: relative;
        width: 88px;
        height: 88px; }
        .production .production-cycle .cycle-stage .image-wraper .num-place {
          position: absolute;
          z-index: 1;
          top: -5px;
          left: -10px;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          background: #99cc33;
          color: #ffffff;
          font-family: RobotoRegular;
          font-size: 15px;
          text-align: center;
          line-height: 40px; }
        .production .production-cycle .cycle-stage .image-wraper .image {
          border-radius: 100%;
          height: 100%;
          width: 100%;
          background-position: center center;
          position: relative; }
          .production .production-cycle .cycle-stage .image-wraper .image::before {
            position: absolute;
            content: "";
            top: -7px;
            left: -7px;
            width: 88px;
            height: 88px;
            border: 7px solid #ffffff;
            border-radius: 100%; }
      .production .production-cycle .cycle-stage .stage-text {
        display: block;
        margin: auto;
        margin-top: 15px;
        text-align: center;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 15px; }
        .production .production-cycle .cycle-stage .stage-text .text-bold {
          font-family: OpenSansBold; }

.best-quality {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url("../images/background-green.png");
  background-size: cover; }
  .best-quality .color-header {
    margin-bottom: 30px; }
  .best-quality .small-title {
    margin: auto;
    display: block;
    text-align: center;
    color: #333333;
    font-family: OpenSansLight;
    font-size: 19px; }
  .best-quality .compare {
    padding-top: 40px; }
    .best-quality .compare .works-title {
      display: table;
      margin: auto;
      margin-bottom: 20px;
      padding: 5px 25px 5px 25px;
      color: #ffffff;
      font-family: OpenSansLight;
      font-size: 19px;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      text-align: center; }
    .best-quality .compare .work-example {
      margin-bottom: 12px; }
      .best-quality .compare .work-example .work-image {
        width: 490px;
        height: 147px; }
      .best-quality .compare .work-example .about-work {
        width: 490px;
        height: 82px;
        display: table;
        margin-top: -4px;
        position: relative; }
        .best-quality .compare .work-example .about-work::before {
          position: absolute;
          content: "";
          top: -9px;
          left: 15px;
          width: 0;
          height: 0; }
    .best-quality .compare .our-work {
      float: left; }
      .best-quality .compare .our-work .about-text {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px 5px 10px;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 17px; }
        .best-quality .compare .our-work .about-text .text-bold {
          font-family: OpenSansBold; }
      .best-quality .compare .our-work .works-title {
        background: #ff3399; }
      .best-quality .compare .our-work .about-work {
        background: #85bd18; }
        .best-quality .compare .our-work .about-work::before {
          border-style: solid;
          border-width: 0 7px 9px 7px;
          border-color: transparent transparent #86bd18 transparent; }
    .best-quality .compare .their-work {
      float: right; }
      .best-quality .compare .their-work .about-text {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px 5px 10px;
        color: #ffffff;
        font-family: OpenSansLight;
        font-size: 17px; }
        .best-quality .compare .their-work .about-text .text-bold {
          font-family: OpenSansBold; }
      .best-quality .compare .their-work .works-title {
        background: #292929; }
      .best-quality .compare .their-work .about-work {
        background: #676767; }
        .best-quality .compare .their-work .about-work::before {
          border-style: solid;
          border-width: 0 7px 9px 7px;
          border-color: transparent transparent #676767 transparent; }

.best-size {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #f8f8f8; }
  .best-size .choose-size {
    height: 388px; }
    .best-size .choose-size .nice-image {
      float: left;
      margin-left: -75px; }
    .best-size .choose-size .size-line {
      float: left;
      display: table;
      margin-left: 10px;
      height: 85%; }
      .best-size .choose-size .size-line .size-example {
        display: table-cell;
        vertical-align: bottom;
        padding-left: 10px;
        padding-right: 10px; }
        .best-size .choose-size .size-line .size-example:first-child {
          padding-left: 0; }
        .best-size .choose-size .size-line .size-example:last-child {
          padding-right: 0; }
        .best-size .choose-size .size-line .size-example .size-price {
          display: table;
          margin: auto;
          margin-bottom: 20px;
          padding: 5px 15px 3px 15px;
          color: #339933;
          font-family: OpenSansBold;
          font-size: 19px;
          background: #ffffff;
          border: 1px solid #eeeeee;
          position: relative; }
          .best-size .choose-size .size-line .size-example .size-price::before {
            position: absolute;
            content: "";
            bottom: -9px;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #ffffff transparent transparent transparent; }
        .best-size .choose-size .size-line .size-example .size-name {
          display: table;
          margin: auto; }
        .best-size .choose-size .size-line .size-example .purple-button {
          margin-top: 20px; }
  .best-size .green-bottom {
    margin: auto;
    width: 940px; }

.specialists {
  padding-top: 20px;
  padding-bottom: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .specialists .color-header {
    width: 1000px; }
  .specialists .specialists-scontrol {
    position: relative; }
    .specialists .specialists-scontrol .slider-prev, .specialists .specialists-scontrol .slider-next {
      width: 31px;
      height: 32px;
      position: absolute;
      bottom: 15px;
      opacity: 0.5; }
      .specialists .specialists-scontrol .slider-prev:hover, .specialists .specialists-scontrol .slider-next:hover {
        opacity: 1;
        cursor: pointer; }
    .specialists .specialists-scontrol .slider-prev {
      left: -40px;
      background: url("../images/slider/arrow-prev.png") no-repeat; }
    .specialists .specialists-scontrol .slider-next {
      right: -40px;
      background: url("../images/slider/arrow-next.png") no-repeat; }
  .specialists .specialist-slider .owl-controls {
    margin: 0; }
    .specialists .specialist-slider .owl-controls .owl-pagination, .specialists .specialist-slider .owl-controls .owl-buttons {
      display: none; }
  .specialists .specialist-slider .item {
    width: 200px;
    height: 260px;
    text-align: center;
    position: relative; }
    .specialists .specialist-slider .item .image-wraper {
      display: block;
      margin: auto;
      width: 144px;
      height: 144px;
      margin-top: 10px;
      margin-bottom: 38px; }
      .specialists .specialist-slider .item .image-wraper .image {
        border-radius: 100%;
        height: 100%;
        width: 100%;
        background-position: top;
        position: relative; }
        .specialists .specialist-slider .item .image-wraper .image::before {
          position: absolute;
          content: "";
          top: -7px;
          left: -7px;
          width: 144px;
          height: 144px;
          border: 7px solid #f1f1f1;
          border-radius: 100%; }
    .specialists .specialist-slider .item .name {
      color: #333333;
      font-family: OpenSansBold;
      font-size: 17px; }
    .specialists .specialist-slider .item .post {
      color: #333333;
      font-family: OpenSansLight;
      font-size: 17px; }
    .specialists .specialist-slider .item:after {
      position: absolute;
      content: "";
      top: 65%;
      left: 50%;
      margin-left: -6px;
      width: 12px;
      height: 5px;
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg); }
  .specialists .specialist-slider .man:after {
    background: #99cc33; }
  .specialists .specialist-slider .woman:after {
    background: #ff3399; }

.bottom-block {
  padding-top: 20px;
  padding-bottom: 140px;
  background-image: url("../images/background-pink.png");
  background-size: cover; }
  .bottom-block .color-header {
    width: 1050px;
    color: #ffffff; }
    .bottom-block .color-header::after {
      width: 90%;
      left: 50%;
      margin-left: -45%; }
  .bottom-block .text-for-form {
    float: left;
    margin-left: 300px;
    padding-top: 100px;
    position: relative; }
    .bottom-block .text-for-form .abs-image {
      position: absolute;
      top: 0;
      left: -285px; }
    .bottom-block .text-for-form .grey-arrow {
      color: #f8f8f8;
      font-family: OpenSansRegular;
      font-size: 20px;
      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 23px;
      position: absolute;
      bottom: -60px;
      right: -5px;
      background-image: url("../images/grey-arrow.png");
      background-size: cover;
      width: 474px;
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    .bottom-block .text-for-form .texts {
      float: right;
      padding: 27px 20px 27px 40px;
      background: #cf086c;
      color: #ffffff;
      text-transform: uppercase; }
      .bottom-block .text-for-form .texts .text-smallest {
        line-height: 40px;
        font-family: OpenSansLight;
        font-size: 35px; }
      .bottom-block .text-for-form .texts .text-small {
        line-height: 30px;
        font-family: OpenSansLight;
        font-size: 39px; }
      .bottom-block .text-for-form .texts .text-big1 {
        font-family: OpenSansRegular;
        font-size: 56px; }
      .bottom-block .text-for-form .texts .text-big2 {
        font-family: OpenSansRegular;
        font-size: 51px; }
  .bottom-block .form-wraper {
    float: right; }

footer {
  height: 84px;
  margin-top: -84px; }
  footer .grey-horizontal {
    background: #3f3f3f; }
    footer .grey-horizontal .nav-phone {
      float: left;
      padding-top: 11px;
      padding-bottom: 10px; }
      footer .grey-horizontal .nav-phone .nav-item {
        list-style: none;
        display: inline-block; }
        footer .grey-horizontal .nav-phone .nav-item .nav-link {
          color: #ffffff;
          font-family: OpenSansRegular;
          font-size: 14px;
          text-decoration: none; }
          footer .grey-horizontal .nav-phone .nav-item .nav-link::after {
            content: "/";
            padding-left: 5px; }
        footer .grey-horizontal .nav-phone .nav-item:last-child .nav-link::after {
          content: ""; }
    footer .grey-horizontal .phone-block {
      float: right; }
      footer .grey-horizontal .phone-block .phone {
        display: inline-block;
        color: #ffffff;
        font-family: OpenSansRegular;
        font-size: 25px; }
      footer .grey-horizontal .phone-block .work-time {
        display: inline-block;
        text-transform: uppercase;
        color: #339933;
        font-family: OpenSansRegular;
        font-size: 15px; }
  footer .copyright {
    display: table;
    margin: auto;
    color: #ffffff;
    height: 40px;
    line-height: 40px; }

.picture-types {
  background: #f8f8f8; }

.picture-type-block {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #f8f8f8; }
  .picture-type-block .container {
    width: 940px; }
  .picture-type-block .color-header {
    width: 100%; }
  .picture-type-block .picture-types-tabs {
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0; }
    .picture-type-block .picture-types-tabs .navigation {
      padding: 0;
      background: transparent;
      border: 0;
      border-radius: 0;
      margin-bottom: -1px; }
      .picture-type-block .picture-types-tabs .navigation .nav-item {
        padding: 0;
        margin: 0;
        border: 1px solid #e9e9e9;
        border-bottom: 0;
        border-radius: 0;
        margin-left: 2px;
        margin-right: 2px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        .picture-type-block .picture-types-tabs .navigation .nav-item:first-child {
          margin-left: 0; }
        .picture-type-block .picture-types-tabs .navigation .nav-item:last-child {
          margin-right: -10px; }
          .picture-type-block .picture-types-tabs .navigation .nav-item:last-child .nav-link {
            padding-right: 14px; }
        .picture-type-block .picture-types-tabs .navigation .nav-item::before {
          display: none;
          z-index: 1;
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 5px; }
        .picture-type-block .picture-types-tabs .navigation .nav-item:hover {
          background: #ffffff; }
          .picture-type-block .picture-types-tabs .navigation .nav-item:hover .nav-link {
            color: #333333; }
        .picture-type-block .picture-types-tabs .navigation .nav-item .nav-link {
          color: #ffffff;
          font-family: OpenSansSemiBold;
          font-size: 14px;
          text-transform: uppercase;
          padding: 13px 12px 13px 11px;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
      .picture-type-block .picture-types-tabs .navigation .ui-state-active .nav-link {
        color: #333333;
        background: #ffffff;
        position: relative; }
        .picture-type-block .picture-types-tabs .navigation .ui-state-active .nav-link:focus {
          outline: none; }
      .picture-type-block .picture-types-tabs .navigation .ui-state-active:before {
        display: block; }
      .picture-type-block .picture-types-tabs .navigation .green {
        background: #2a9548; }
        .picture-type-block .picture-types-tabs .navigation .green:hover::before {
          display: block;
          background: #2a9548; }
        .picture-type-block .picture-types-tabs .navigation .green.ui-state-active::before {
          background: #2a9548; }
      .picture-type-block .picture-types-tabs .navigation .pink {
        background: #f83a99; }
        .picture-type-block .picture-types-tabs .navigation .pink:hover::before {
          display: block;
          background: #f83a99; }
        .picture-type-block .picture-types-tabs .navigation .pink.ui-state-active::before {
          background: #f83a99; }
      .picture-type-block .picture-types-tabs .navigation .light-green {
        background: #99cc33; }
        .picture-type-block .picture-types-tabs .navigation .light-green:hover::before {
          display: block;
          background: #99cc33; }
        .picture-type-block .picture-types-tabs .navigation .light-green.ui-state-active::before {
          background: #99cc33; }
      .picture-type-block .picture-types-tabs .navigation .blue {
        background: #66ccff; }
        .picture-type-block .picture-types-tabs .navigation .blue:hover::before {
          display: block;
          background: #66ccff; }
        .picture-type-block .picture-types-tabs .navigation .blue.ui-state-active::before {
          background: #66ccff; }
      .picture-type-block .picture-types-tabs .navigation .light-red {
        background: #ff6666; }
        .picture-type-block .picture-types-tabs .navigation .light-red:hover::before {
          display: block;
          background: #ff6666; }
        .picture-type-block .picture-types-tabs .navigation .light-red.ui-state-active::before {
          background: #ff6666; }
    .picture-type-block .picture-types-tabs .tab {
      padding-top: 20px;
      padding-bottom: 40px;
      border: 1px solid #e9e9e9;
      background: #ffffff; }
      .picture-type-block .picture-types-tabs .tab .tab-header {
        text-align: center;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 33px;
        margin-bottom: 50px; }
      .picture-type-block .picture-types-tabs .tab .transform-list .transform-block {
        display: table;
        margin: auto;
        margin-bottom: 30px;
        width: 700px;
        height: 350px;
        position: relative; }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n-4) .photo-before .image {
          top: 13px;
          right: 0;
          -moz-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          -webkit-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n-3) .photo-before .image {
          top: 40px;
          right: 5px;
          -moz-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          -webkit-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n-2) .photo-before .image {
          width: 90px;
          height: 140px;
          bottom: 12px;
          right: 30px;
          -moz-transform: rotate(-12deg);
          -ms-transform: rotate(-12deg);
          -webkit-transform: rotate(-12deg);
          -o-transform: rotate(-12deg);
          transform: rotate(-12deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n-2) .photo-before:before {
          position: absolute;
          content: "";
          top: 22px;
          left: 15px;
          width: 175px;
          height: 250px;
          background: #f0ecec;
          -webkit-box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-box-shadow: 7px 7px 5px -5px #cfcfcf;
          box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-transform: rotate(-13deg);
          -ms-transform: rotate(-13deg);
          -webkit-transform: rotate(-13deg);
          -o-transform: rotate(-13deg);
          transform: rotate(-13deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n-1) .photo-before .image {
          width: 100px;
          height: 150px;
          bottom: 12px;
          right: 29px;
          -moz-transform: rotate(-14deg);
          -ms-transform: rotate(-14deg);
          -webkit-transform: rotate(-14deg);
          -o-transform: rotate(-14deg);
          transform: rotate(-14deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n-1) .photo-before:before {
          position: absolute;
          content: "";
          top: 22px;
          left: 15px;
          width: 175px;
          height: 250px;
          background: #f0ecec;
          -webkit-box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-box-shadow: 7px 7px 5px -5px #cfcfcf;
          box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-transform: rotate(-13deg);
          -ms-transform: rotate(-13deg);
          -webkit-transform: rotate(-13deg);
          -o-transform: rotate(-13deg);
          transform: rotate(-13deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n) .photo-before .image {
          width: 135px;
          height: 165px;
          top: 30px;
          right: 0;
          -moz-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          -webkit-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg); }
        .picture-type-block .picture-types-tabs .tab .transform-list .transform-block:nth-child(5n) .photo-before:before {
          position: absolute;
          content: "";
          top: 5px;
          right: -12px;
          width: 165px;
          height: 220px;
          background: #f0ecec;
          -webkit-box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-box-shadow: 7px 7px 5px -5px #cfcfcf;
          box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-transform: rotate(8deg);
          -ms-transform: rotate(8deg);
          -webkit-transform: rotate(8deg);
          -o-transform: rotate(8deg);
          transform: rotate(8deg); }
      .picture-type-block .picture-types-tabs .tab .transform-list .photo-before {
        float: left;
        width: 190px;
        height: 250px;
        background: #f8f8f8;
        -webkit-box-shadow: 7px 7px 5px -5px #cfcfcf;
        -moz-box-shadow: 7px 7px 5px -5px #cfcfcf;
        box-shadow: 7px 7px 5px -5px #cfcfcf;
        -moz-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
        position: relative; }
        .picture-type-block .picture-types-tabs .tab .transform-list .photo-before .image {
          width: 165px;
          height: 210px;
          -webkit-box-shadow: 7px 7px 5px -5px #cfcfcf;
          -moz-box-shadow: 7px 7px 5px -5px #cfcfcf;
          box-shadow: 7px 7px 5px -5px #cfcfcf;
          position: absolute; }
      .picture-type-block .picture-types-tabs .tab .transform-list .pink-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 50%;
        margin-left: -85.5px; }
      .picture-type-block .picture-types-tabs .tab .transform-list .photo-after {
        float: right;
        width: 230px;
        height: 325px;
        position: relative; }

      .picture-type-block .picture-types-tabs .tab .image-list .image-block {
        margin-bottom: 10px; }
        .picture-type-block .picture-types-tabs .tab .image-list .image-block .image {
          width: 400px;
          height: 400px; }
        .picture-type-block .picture-types-tabs .tab .image-list .image-block:nth-child(even) {
          float: left;
          margin-left: 20px; }
        .picture-type-block .picture-types-tabs .tab .image-list .image-block:nth-child(odd) {
          float: right;
          margin-right: 20px; }
      .picture-type-block .picture-types-tabs .tab .green-bottom {
        text-transform: uppercase; }
      .picture-type-block .picture-types-tabs .tab .purple-button {
        margin-top: 20px; }

.for-whom-add {
  padding-bottom: 164px; }

.ptp-footer .copyright {
  color: #999999; }

.order-block {
  padding-top: 20px;
  padding-bottom: 114px;
  background: #f8f8f8; }
  .order-block .order-form .form-block {
    padding-top: 25px;
    padding-bottom: 25px; }
  .order-block .order-form .price-about {
    margin-bottom: 40px; }
    .order-block .order-form .price-about .purple-checkbox, .order-block .order-form .price-about .pa-name, .order-block .order-form .price-about .pa-price, .order-block .order-form .price-about .pa-about {
      display: inline-block;
      float: left;
      line-height: 23px; }
    .order-block .order-form .price-about .pa-name {
      margin-left: 20px;
      color: #333333;
      font-family: OpenSansBold;
      font-size: 19px; }
    .order-block .order-form .price-about .pa-price {
      margin-left: 12px;
      color: #f83a99;
      font-family: OpenSansBold;
      font-size: 19px; }
    .order-block .order-form .price-about .pa-about {
      margin-left: 45px;
      color: #339933;
      font-family: OpenSansSemiBold;
      font-size: 15px;
      border-bottom: 1px dashed #339933; }
  .order-block .order-form .fblock-header {
    margin-bottom: 20px; }
    .order-block .order-form .fblock-header .fb-image, .order-block .order-form .fblock-header .fb-text {
      display: inline-block;
      float: left; }
    .order-block .order-form .fblock-header .fb-text {
      margin-left: 15px;
      color: #339933;
      font-family: OpenSansBold;
      font-size: 19px;
      line-height: 42px; }
  .order-block .order-form .list {
    margin-left: 55px; }
  .order-block .order-form .item {
    margin-bottom: 55px;
    float: left;
    position: relative; }
    .order-block .order-form .item .hint {
      position: absolute;
      top: 0;
      left: 165px;
      background: #b7e7ff;
      padding: 9px 10px 9px 10px;
      display: table; }
      .order-block .order-form .item .hint .hint-text {
        display: table-cell;
        vertical-align: middle;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 13px;
        position: relative; }
        .order-block .order-form .item .hint .hint-text .pink-text {
          color: #f83a99;
          font-family: OpenSansBold; }
        .order-block .order-form .item .hint .hint-text::before {
          position: absolute;
          content: "";
          left: -24px;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 14px 18px 0;
          border-color: transparent #b7e7ff transparent transparent; }
  .order-block .order-form .chose-size .chose-size-select {
    margin-left: 55px;
    margin-bottom: 20px; }
    .order-block .order-form .chose-size .chose-size-select .ui-selectmenu-button, .order-block .order-form .chose-size .chose-size-select .size-prize {
      display: inline-block;
      float: left; }
    .order-block .order-form .chose-size .chose-size-select .ui-selectmenu-button {
      margin-right: 15px;
      border-radius: 0px;
      width: 233px !important; }
    .order-block .order-form .chose-size .chose-size-select .ui-selectmenu-text {
      padding: 6px 0px 6px 11px;
      color: #339933;
      font-family: OpenSansRegular;
      font-size: 15px;
      white-space: normal;
      background: #ffffff; }
    .order-block .order-form .chose-size .chose-size-select .ui-icon {
      height: 100%;
      top: 0;
      right: 0;
      margin-top: 0;
      background-image: url("../images/triangle.png");
      background-position: 5px 14px;
      background-color: #444444; }
    .order-block .order-form .chose-size .chose-size-select .size-price {
      color: #f83a99;
      font-family: OpenSansBold;
      font-size: 19px;
      line-height: 33px; }
  .order-block .order-form .chose-size .check {
    margin-left: 55px;
    width: 580px;
    height: 330px;
    background: url("../images/flat-background.png");
    position: relative; }
    .order-block .order-form .chose-size .check .control-image {
      width: 66px;
      height: 66px;
      position: absolute;
      top: 0;
      bottom: 25px;
      margin: auto;
      left: 50%;
      margin-left: -20px; }
    .order-block .order-form .chose-size .check .hint {
      width: 330px;
      height: 110px;
      background: #b7e7ff;
      display: table;
      position: absolute;
      top: 25%;
      right: -64%; }
      .order-block .order-form .chose-size .check .hint .hint-text {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 13px;
        line-height: 22px;
        position: relative; }
        .order-block .order-form .chose-size .check .hint .hint-text::before {
          position: absolute;
          content: "";
          bottom: 18px;
          left: -14px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 14px 18px 0;
          border-color: transparent #b7e7ff transparent transparent; }
  .order-block .order-form .add-photo {
    padding-bottom: 40px;
    background: #ffffff; }
    .order-block .order-form .add-photo .upload-button {
      margin-left: 55px; }
      .order-block .order-form .add-photo .upload-button .real-button {
        display: none; }
      .order-block .order-form .add-photo .upload-button .uploaded-name {
        display: inline-block;
        float: left;
        height: 28px;
        width: 780px;
        padding-left: 15px; }
      .order-block .order-form .add-photo .upload-button .fake-button {
        display: inline-block;
        float: left;
        margin-left: 22px;
        height: 33px;
        width: 124px;
        border: none;
        font-family: OpenSansRegular;
        color: #333333;
        font-size: 13px;
        line-height: 9px;
        text-align: center;
        background: #a7dc3b;
        -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
        position: relative; }
        .order-block .order-form .add-photo .upload-button .fake-button::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: rgba(0, 0, 0, 0.5); }
    .order-block .order-form .add-photo .hint {
      width: 795px;
      margin-left: 55px;
      background: #a8dffa;
      position: relative; }
      .order-block .order-form .add-photo .hint .hint-text {
        margin-top: 30px;
        padding: 9px 5px 9px 15px;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 13px;
        position: relative; }
        .order-block .order-form .add-photo .hint .hint-text::before {
          position: absolute;
          content: "";
          top: -14px;
          left: 18px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 14px 0 0 18px;
          border-color: transparent transparent transparent #a8dffa; }
        .order-block .order-form .add-photo .hint .hint-text .purple-text {
          color: #f83a99;
          font-family: OpenSansBold; }
  .order-block .order-form .decoration .canvas .item1 {
    width: 325px; }
    .order-block .order-form .decoration .canvas .item1 .hint .hint-text {
      width: 140px; }
  .order-block .order-form .decoration .canvas .item2 {
    width: 440px;
    margin-left: 30px; }
    .order-block .order-form .decoration .canvas .item2 .hint .hint-text {
      width: 240px; }
  .order-block .order-form .decoration .cover .item1 {
    width: 140px; }
  .order-block .order-form .decoration .cover .item2 {
    width: 430px;
    margin-left: 30px; }
    .order-block .order-form .decoration .cover .item2 .hint .hint-text {
      width: 240px; }
  .order-block .order-form .frame {
    background: #ffffff; }
    .order-block .order-form .frame .full-frame .item1 {
      margin-right: 30px; }
    .order-block .order-form .frame .corner-frame {
      padding-bottom: 40px;
      position: relative; }
      .order-block .order-form .frame .corner-frame .item {
        margin-right: 40px;
        position: relative; }
        .order-block .order-form .frame .corner-frame .item .purple-checkbox {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0; }
      .order-block .order-form .frame .corner-frame .hint {
        width: 370px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #b7e7ff;
        padding: 9px 10px 9px 10px;
        display: table; }
        .order-block .order-form .frame .corner-frame .hint .hint-text {
          display: table-cell;
          vertical-align: middle;
          color: #333333;
          font-family: OpenSansLight;
          font-size: 13px;
          position: relative; }
          .order-block .order-form .frame .corner-frame .hint .hint-text .pink-text {
            color: #f83a99;
            font-family: OpenSansBold; }
          .order-block .order-form .frame .corner-frame .hint .hint-text::before {
            position: absolute;
            content: "";
            left: 0;
            top: -23px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 0 0 18px;
            border-color: transparent transparent transparent #b7e7ff; }
  .order-block .order-form .processing .correction .item {
    margin-right: 40px; }
  .order-block .order-form .processing .correction .hint {
    width: 200px; }
  .order-block .order-form .processing .art-processing {
    margin-bottom: 40px;
    position: relative; }
    .order-block .order-form .processing .art-processing .item {
      margin-right: 40px; }
    .order-block .order-form .processing .art-processing .hint {
      width: 550px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #b7e7ff;
      padding: 9px 10px 9px 10px;
      display: table; }
      .order-block .order-form .processing .art-processing .hint .hint-text {
        display: table-cell;
        vertical-align: middle;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 13px;
        position: relative; }
        .order-block .order-form .processing .art-processing .hint .hint-text .pink-text {
          color: #f83a99;
          font-family: OpenSansBold; }
        .order-block .order-form .processing .art-processing .hint .hint-text::before {
          position: absolute;
          content: "";
          left: 0;
          top: -23px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 14px 0 0 18px;
          border-color: transparent transparent transparent #b7e7ff; }
  .order-block .order-form .processing .caricature {
    margin-bottom: 40px;
    position: relative; }
    .order-block .order-form .processing .caricature .item {
      margin-right: 40px; }
    .order-block .order-form .processing .caricature .hint {
      width: 550px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #b7e7ff;
      padding: 9px 10px 9px 10px;
      display: table; }
      .order-block .order-form .processing .caricature .hint .hint-text {
        display: table-cell;
        vertical-align: middle;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 13px;
        position: relative; }
        .order-block .order-form .processing .caricature .hint .hint-text .pink-text {
          color: #f83a99;
          font-family: OpenSansBold; }
        .order-block .order-form .processing .caricature .hint .hint-text::before {
          position: absolute;
          content: "";
          left: 0;
          top: -23px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 14px 0 0 18px;
          border-color: transparent transparent transparent #b7e7ff; }
  .order-block .order-form .request {
    background: #ffffff; }
    .order-block .order-form .request .list {
      margin-bottom: 20px; }
      .order-block .order-form .request .list .inputs {
        float: left;
        width: 295px;
        margin-left: 15px;
        margin-right: 15px; }
        .order-block .order-form .request .list .inputs .small-input {
          padding: 4px 5px 4px 5px;
          width: 281px;
          color: #333333;
          font-family: OpenSansRegular;
          font-size: 14px; }
        .order-block .order-form .request .list .inputs .hint {
          margin-top: 5px;
          text-align: right;
          color: #339933;
          font-family: OpenSansRegular;
          font-size: 13px; }
        .order-block .order-form .request .list .inputs:nth-child(1) {
          margin-left: 0; }
        .order-block .order-form .request .list .inputs:nth-last-child(2) {
          margin-right: 0; }
      .order-block .order-form .request .list .bottom .response {
        margin-bottom: 45px;
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding-left: 5px;
        padding-top: 5px;
        resize: none;
        line-height: 24px;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 14px; }
      .order-block .order-form .request .list .bottom .sum {
        padding-top: 9px;
        padding-bottom: 9px;
        background: #91c646;
        text-align: center; }
        .order-block .order-form .request .list .bottom .sum .sum-text {
          text-transform: uppercase;
          display: inline-block;
          color: #ffffff;
          font-family: OpenSansSemiBold;
          font-size: 17px; }
        .order-block .order-form .request .list .bottom .sum .sum-amount {
          margin-left: 10px;
          display: inline-block;
          color: #f83a99;
          font-family: OpenSansBold;
          font-size: 19px; }
      .order-block .order-form .request .list .bottom .purple-button .pb-link {
        padding-left: 75px;
        padding-right: 75px; }
  .order-block .order-form .sum-bottom {
    z-index: 40;
    width: 945px;
    position: fixed;
    bottom: 0; }
  .order-block .order-form .accordion .ui-accordion-header {
    cursor: auto;
    border: none;
    background: transparent;
    padding: 20px 5px 20px 60px;
    margin: 0; }
    .order-block .order-form .accordion .ui-accordion-header:focus {
      outline: none; }
    .order-block .order-form .accordion .ui-accordion-header .trigger {
      cursor: pointer; }
  .order-block .order-form .accordion .ui-icon {
    display: none; }
  .order-block .order-form .accordion .price-about {
    margin: 0; }
  .order-block .order-form .accordion .ui-accordion-content {
    padding-left: 60px;
    border: none;
    background: transparent; }
  .order-block .order-form .accordion .hint-above {
    margin-left: 55px !important; }

.op-footer .copyright {
  color: #999999; }

.payment, .delivery {
  padding-top: 35px;
  padding-bottom: 50px; }
  .payment .block-header, .delivery .block-header {
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .payment .list .list-header .list-name, .payment .list .list-header .list-image, .delivery .list .list-header .list-name, .delivery .list .list-header .list-image {
    display: inline-block;
    float: left; }
  .payment .list .list-header .list-name, .delivery .list .list-header .list-name {
    margin-left: 15px;
    color: #339933;
    font-family: OpenSansLight;
    font-size: 19px;
    line-height: 42px; }
  .payment .list .list-items ul, .delivery .list .list-items ul {
    margin-left: 72px;
    margin-bottom: 50px; }
    .payment .list .list-items ul li, .delivery .list .list-items ul li {
      margin-bottom: 10px;
      color: #333333;
      font-family: OpenSansRegular;
      font-size: 14px;
      list-style: none;
      position: relative; }
      .payment .list .list-items ul li::before, .delivery .list .list-items ul li::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        margin: auto;
        left: -15px;
        width: 7px;
        height: 7px;
        background: #f83a99;
        border-radius: 100%; }
  .payment .list .text-bold, .delivery .list .text-bold {
    font-family: OpenSansBold;
    font-size: 16px; }
  .payment .list .block-info, .delivery .list .block-info {
    margin-top: 20px;
    margin-left: 60px;
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 24px; }
  .payment .blue-block, .delivery .blue-block {
    display: table;
    margin: auto;
    width: 590px;
    height: 38px;
    background: #a8dffa;
    text-align: center; }
    .payment .blue-block .text-inside, .delivery .blue-block .text-inside {
      display: table-cell;
      vertical-align: middle;
      color: #333333;
      font-family: OpenSansLight;
      font-size: 15px; }
  .payment .services-image-list, .delivery .services-image-list {
    display: table;
    margin: auto;
    width: 940px;
    margin-top: 40px; }
    .payment .services-image-list .sil-item, .delivery .services-image-list .sil-item {
      display: inline-block;
      float: left;
      margin-left: 13px;
      margin-right: 13px; }
      .payment .services-image-list .sil-item:first-child, .delivery .services-image-list .sil-item:first-child {
        margin-left: 0; }
      .payment .services-image-list .sil-item:nth-last-child(2), .delivery .services-image-list .sil-item:nth-last-child(2) {
        margin-right: 0; }

.delivery {
  background: #f8f8f8;
  padding-bottom: 134px; }

.pagination {
  padding-top: 40px;
  padding-bottom: 114px; }
  .pagination .page {
    display: table;
    margin: auto;
    width: 940px; }
    .pagination .page .response {
      margin-bottom: 55px;
      position: relative; }
      .pagination .page .response .left-side {
        float: left; }
        .pagination .page .response .left-side .image-wraper {
          display: block;
          margin: auto;
          width: 100px;
          height: 100px;
          margin-top: 10px;
          margin-bottom: 38px; }
          .pagination .page .response .left-side .image-wraper .image {
            height: 100%;
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; }
      .pagination .page .response .right-side {
        float: left;
        margin-left: 26px;
        padding-top: 5px;
        width: 780px; }
        .pagination .page .response .right-side .author {
          margin-bottom: 15px; }
          .pagination .page .response .right-side .author .name, .pagination .page .response .right-side .author .city {
            display: inline-block;
            float: left;
            color: #333333;
            font-family: OpenSansBold;
            font-size: 17px; }
          .pagination .page .response .right-side .author .city {
            margin-left: 5px;
            color: #339933; }
          .pagination .page .response .right-side .author .date {
            float: right;
            color: #333333;
            font-family: OpenSansBold;
            font-size: 17px; }
        .pagination .page .response .right-side .response-text {
          color: #333333;
          font-family: OpenSansRegular;
          font-size: 14px; }
      .pagination .page .response::after {
        position: absolute;
        content: "";
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: url("../images/colorfull-line.png");
        background-size: cover; }
      .pagination .page .response:last-child::after {
        width: 0; }
  .pagination .page-control {
    display: table;
    margin: auto; }
    .pagination .page-control .link-item {
      display: inline-block;
      box-sizing: border-box;
      padding: 5px 9px 5px 9px; }
      .pagination .page-control .link-item .link {
        color: #8c8c8c;
        font-family: OpenSansLight;
        font-size: 14px;
        text-decoration: none;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        .pagination .page-control .link-item .link:hover {
          color: #f83a99; }

/*# sourceMappingURL=main.css.map */
