

/* Start:/bitrix/templates/.default/components/bitrix/news.list/presents/style.css?1437420453150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/best_presents/style.css?1437420453150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/slider_emotion_simple/style.css?1436955503150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/whom_present/style.css?1437420453150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/production/style.css?1437420453150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/specialist/style.css?1437420453150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/.default/components/bitrix/news.list/presents/style.css?1437420453150 */
/* /bitrix/templates/.default/components/bitrix/news.list/best_presents/style.css?1437420453150 */
/* /bitrix/templates/.default/components/bitrix/news.list/slider_emotion_simple/style.css?1436955503150 */
/* /bitrix/templates/.default/components/bitrix/news.list/whom_present/style.css?1437420453150 */
/* /bitrix/templates/.default/components/bitrix/news.list/production/style.css?1437420453150 */
/* /bitrix/templates/.default/components/bitrix/news.list/specialist/style.css?1437420453150 */
