* {
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}

.nice-hover {
  transition: background-color 0.3s linear, color 0.3s linear;
  -moz-transition: background-color 0.3s linear, color 0.3s linear;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -o-transition: background-color 0.3s linear, color 0.3s linear;
}

.container {
  width: 1000px;
  margin: auto;
}

.o-trans {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

//main-page same elements

.color-header {
  width: 950px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  color: #333333;
  font-family: OpenSansRegular;
  font-size: 33px;
  .text-bold {
    font-family: OpenSansBold;
  }
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: url("../images/colorfull-line.png");
    background-size: cover;
  }
}

.purple-button {
  border: none;
  display: table;
  margin: auto;
  margin-top: 30px;
  padding: 9px 26px 10px 26px;
  background: #ff3399;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  text-align: center;
  .pb-link {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: OpenSansRegular;
    font-size: 16px;
  }
}

.green-button {
  display: table;
  margin: auto;
  margin-top: 30px;
  padding: 9px 60px 10px 60px;
  background: #359a46;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
  text-align: center;
  .gb-link {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 16px;
  }
}

.green-bottom {
  margin-top: 30px;
  background: #ffffff;
  text-align: center;
  color: #339933;
  font-family: OpenSansBold;
  font-size: 19px;
}

.send-form {
  width: 330px;
  height: 470px;
  background: #3f3f3f;
  .form-header {
    text-transform: uppercase;
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 25px;
    line-height: 18px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 5px;
    padding-top: 25px;
  }
  .form-small-text {
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .form-input {
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
  }
  .help-text {
    font-family: OpenSansRegular;
    color:  #99cc33;
    font-size: 13px;
    line-height: 11px;
    text-align: left;
    float: right;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-right: 14px;
  }
  .header-for-upload {
    text-transform: uppercase;
    font-family: OpenSansSemiBold;
    color:  #ffffff;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .upload-button {
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    .real-button {
      display: none;
    }
    .uploaded-name {
      height: 28px;
      width: 166px;
    }
    .fake-button  {
      height: 33px;
      width: 124px;
      border: none;
      font-family: OpenSansRegular;
      color:  #333333;
      font-size: 13px;
      line-height: 9px;
      text-align: center;
      background: #359a46;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }

  }
  .send-button {
    border: none;
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 16px;
    background: #ff3399;
    text-align: center;
    height: 40px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    &:hover {
      background: #ff3399;
    }
  }
  .send-button-cutom {
    border: none;
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 16px;
    background: #ff3399;
    text-align: center;
    height: 40px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    &:hover {
      background: #ff3399;
    }
  }
  .privacy {
    font-family: OpenSansRegular;
    color:  #99cc33;
    font-size: 13px;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.success {
  width: 330px;
  height: 130px;
  background: #3f3f3f;
  padding-top: 10px;
  box-sizing: border-box;
  .white-text {
    margin-left: 25px;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: OpenSansRegular;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
  }
  .green-text {
    margin-left: 25px;
    color:  #99cc33;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }
}

.response-form {
  width: 330px;
  height: 470px;
  background: #3f3f3f;
  .form-header {
    text-transform: uppercase;
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 5px;
    padding-top: 25px;
  }
  .form-small-text {
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .form-input {
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 14px;
    box-sizing: border-box;
    width: 300px;
    height: 28px;
    display: block;
    margin: auto;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .response-text {
    resize: none;
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 90px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 14px;
  }

  .upload-button {
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    .real-button {
      display: none;
    }
    .uploaded-name {
      height: 28px;
      width: 166px;
      color: #333333;
      font-family: OpenSansRegular;
      font-size: 14px;
      box-sizing: border-box;
      padding-left: 10px;
    }
    .fake-button  {
      height: 33px;
      width: 124px;
      border: none;
      font-family: OpenSansRegular;
      color:  #333333;
      font-size: 13px;
      line-height: 9px;
      text-align: center;
      background: #359a46;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }

  }
  .send-button {
    border: none;
    font-family: OpenSansRegular;
    color:  #ffffff;
    font-size: 16px;
    background: #ff3399;
    text-align: center;
    height: 40px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    &:hover {
      background: #ff3399;
    }
  }
  .privacy {
    font-family: OpenSansRegular;
    color:  #99cc33;
    font-size: 13px;
    line-height: 11px;
    text-decoration: none;
    text-align: center;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.purple-checkbox {
  width: 23px;
  height: 23px;
  position: relative;
  input[type=checkbox] {
    display: none;
  }
  label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border: 1px solid #b4b4b4;
    background: #ffffff;
    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #f83a99;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover {
      &::after {
        opacity: 0.5;
      }
    }
  }
}
.purple-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}