.best-quality {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url("../images/background-green.png");
  background-size: cover;
  .color-header {
    margin-bottom: 30px;
  }
  .small-title {
    margin: auto;
    display: block;
    text-align: center;
    color: #333333;
    font-family: OpenSansLight;
    font-size: 19px;
  }
  .compare {
    padding-top: 40px;
    .works-title {
      display: table;
      margin: auto;
      margin-bottom: 20px;
      padding: 5px 25px 5px 25px;
      color: #ffffff;
      font-family: OpenSansLight;
      font-size: 19px;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      text-align: center;
    }
    .work-example {
      margin-bottom: 12px;
      .work-image {
        width: 490px;
        height: 147px;
      }
      .about-work {
        width: 490px;
        height: 82px;
        display: table;
        margin-top: -4px;
        .about-text {
          display: table-cell;
          vertical-align: middle;
          padding: 5px 10px 5px 10px;
          color: #333333;
          font-family: OpenSansLight;
          font-size: 17px;
          .text-bold {
            font-family: OpenSansBold;
          }
        }
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: -9px;
          left: 15px;
          width: 0;
          height: 0;
        }
      }
    }
    .our-work {
      float: left;
      .works-title {
        background: #ff3399;
      }
      .about-work {
        background: #85bd18;
        &::before {
          border-style: solid;
          border-width: 0 7px 9px 7px;
          border-color: transparent transparent #86bd18 transparent;
        }
      }
    }
    .their-work {
      float: right;
      .works-title {
        background: #292929;
      }
      .about-work {
        background: #676767;
        &::before {
          border-style: solid;
          border-width: 0 7px 9px 7px;
          border-color: transparent transparent #676767 transparent;
        }
      }
    }
  }
}