.best-size {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #f8f8f8;
  .choose-size {
    height: 388px;
    .nice-image {
      float: left;
      margin-left: -75px;
    }
    .size-line {
      float: left;
      display: table;
      margin-left: 10px;
      height: 85%;
      .size-example {
        display: table-cell;
        vertical-align: bottom;
        padding-left: 10px;
        padding-right: 10px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .size-price {
          display: table;
          margin: auto;
          margin-bottom: 20px;
          padding: 5px 15px 3px 15px;
          color: #339933;
          font-family: OpenSansBold;
          font-size: 19px;
          background: #ffffff;
          border: 1px solid #eeeeee;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            bottom: -9px;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #ffffff transparent transparent transparent;
          }
        }
        img {
          display: table;
          margin: auto;
          margin-bottom: 15px;
          -webkit-box-shadow: 3px 2px 25px -4px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 2px 25px -4px rgba(0,0,0,0.75);
          box-shadow: 3px 2px 25px -4px rgba(0,0,0,0.75);
        }
        .size-name {
          display: table;
          margin: auto;
        }
        .purple-button {
          margin-top: 20px;
        }
      }
      .example4x4 {
        img {
          width: 100px;
          height: 100px;
        }
      }
      .example4x6 {
        img {
          width: 150px;
          height: 100px;
        }
      }
      .example6x6 {
        img {
          width: 150px;
          height: 150px;
        }
      }
      .example12x8 {
        img {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
  .green-bottom {
    margin: auto;
    width: 940px;
  }
}