.bottom-block {
  padding-top: 20px;
  padding-bottom: 140px;
  background-image: url("../images/background-pink.png");
  background-size: cover;
  .color-header {
    width: 1050px;
    color: #ffffff;
    &::after {
      width: 90%;
      left: 50%;
      margin-left: -45%;
    }
  }
  .text-for-form {
    float: left;
    margin-left: 300px;
    padding-top: 100px;
    position: relative;
    .abs-image {
      position: absolute;
      top:0;
      left: -285px;
    }
    .grey-arrow {
      color:  #f8f8f8;
      font-family: OpenSansRegular;
      font-size: 20px;
      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 23px;
      position: absolute;
      bottom: -60px;
      right: -5px;
      background-image: url("../images/grey-arrow.png");
      background-size: cover;
      width: 474px;
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg)
    }
    .texts {
      float: right;
      padding: 27px 20px 27px 40px;
      background: #cf086c;
      color: #ffffff;
      text-transform: uppercase;
      .text-smallest {
        line-height: 40px;
        font-family: OpenSansLight;
        font-size: 35px;
      }
      .text-small {
        line-height: 30px;
        font-family: OpenSansLight;
        font-size: 39px;
      }
      .text-big1 {
        font-family: OpenSansRegular;
         font-size: 56px;
      }
      .text-big2 {
        font-family: OpenSansRegular;
        font-size: 51px;
      }
    }
  }
  .form-wraper {
    float: right;
  }
}