.examples {
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 60px;
  .photo-links {
    margin: auto;
    width: 950px;
    .photo-box {
      height: 300px;
      width: 300px;
      display: inline-block;
      float: left;
      position: relative;
      margin-bottom: 10px;
      margin-top: 10px;
      &:hover {
        .hidden-arrow {
          opacity: 1;
        }
        .text-place {
          opacity: 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 300px;
        background: url("../images/photo-frame.png")center center no-repeat;
      }
      &:nth-child(3n-1) {
        margin-right: 25px;
        margin-left: 25px;
      }
      &:nth-child(even) {
        .text-place {
          background: rgba(162, 222, 253, 0.97);
        }

      }
      &:nth-child(odd) {
        .text-place {
          background: rgba(201, 221, 133, 0.97);
        }
      }
      .hidden-arrow{
        opacity: 0;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        top: 37%;
        left: 37%;
      }
      .photo {
        height: 100%;
        width: 100%;
      }
      .text-place {
        position: absolute;
        bottom: 6%;
        left: 4%;
        height: 94px;
        width: 272px;
        text-align: center;
        display: table;
        .box-text {
          padding: 0 8px 0 8px;
          display: table-cell;
          vertical-align: middle;
          text-transform: uppercase;
          color: #333333;
          font-family: OpenSansBold;
          font-size: 22px;
        }
      }

    }
  }
}