.fancybox-overlay {
  background: rgba(255,255,255,0.8) !important;
  .fancy-title {
    text-align: center;
    .text {
      color: #ffffff;
      font-family: OpenSansRegular;
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .purple-button {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}


.fancybox-wrap {
  .fancybox-skin {
    background: #3f3f3f;
    .fancybox-close {
      width: 19px;
      height: 19px;
      background: url('../images/close-popup.png');
    }
    .fancybox-outer {
      .fancybox-next {
        right: -24%;
        span {
          width: 31px;
          height: 32px;
          background: url("../images/slider/arrow-next.png");
          visibility: visible;
        }
      }
      .fancybox-prev {
        left: -24%;
        span {
          width: 31px;
          height: 32px;
          background: url("../images/slider/arrow-prev.png");
          visibility: visible;
        }
      }
    }

  }
}


