footer {
  height: 84px;
  margin-top: -84px;
  .grey-horizontal {
    background: #3f3f3f;
    .nav-phone {
      float: left;
      padding-top: 11px;
      padding-bottom: 10px;
      .nav-item {
        list-style: none;
        display: inline-block;
        .nav-link {
          color: #ffffff;
          font-family: OpenSansRegular;
          font-size: 14px;
          text-decoration: none;
          &::after {
            content: "/";
            padding-left: 5px;
          }
        }
        &:last-child {
          .nav-link {
            &::after {
              content: "";
            }
          }
        }
      }
    }
    .phone-block {
      float: right;
      .phone {
        display: inline-block;
        color: #ffffff;
        font-family: OpenSansRegular;
        font-size: 25px;
      }
      .work-time {
        display: inline-block;
        text-transform: uppercase;
        color: #339933;
        font-family: OpenSansRegular;
        font-size: 15px;
      }
    }
  }
  .copyright {
    display: table;
    margin: auto;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
  }
}