.for-whom {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f8f8f8;
  .variant-loop {
    margin-bottom: 20px;
    position: relative;
    //half-sphere
    &::before {
      position: absolute;
      top: 2%;
      left: 50%;
      margin-left: -37px;
      content: "";
      width: 74px;
      height: 74px;
      border-radius: 50%;
      border-top: 1px solid #dfdfdf;
      @include my-transition(all, 0.4s, ease-in-out);
    }
    &::after {
      position: absolute;
      bottom: 2%;
      left: 50%;
      margin-left: -37px;
      content: "";
      width: 74px;
      height: 74px;
      border-radius: 50%;
      border-bottom: 1px solid #dfdfdf;
    }
    .variant {
      display: table;
      width: 445px;
      height: 90px;
      color: #333333;
      .align-center {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        .variant-text {
          position: relative;
          border: 1px solid #f4f4f4;
          background: #ffffff;
          font-family: OpenSansRegular;
          font-size: 15px;
          padding: 6px 10px;
          @include my-transition(all, 0.4s, ease-in-out);
          .text-bold {
            font-family: OpenSansBold;
          }
        }
      }
      &:nth-child(odd) {
        text-align: right;
        float: left;
        .align-center {
          &:hover {
            &::after {
              background: #ff3399;
            }
            &::before {
              background: #ff3399;
            }
            .variant-text {
              &:hover {
                background: #99cc33;
                color: #ffffff;
                cursor: pointer;
                &::after {
                  border-color: transparent transparent transparent #99cc33;
                }
              }
            }
          }
          //stick
          &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -4%;
            content: "";
            width: 1px;
            height: 90px;
            background: #dfdfdf;
            @include my-transition(all, 0.8s, ease-in-out);
          }
          //circle
          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -20px;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #dfdfdf;
            @include my-transition(all, 0.8s, ease-in-out);
          }
          //triangle
          .variant-text {
            &::after {
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              right: -2%;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 0 5px 10px;
              border-color: transparent transparent transparent #ffffff;
              @include my-transition(all, 0.8s, ease-in-out);
            }
            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              right: -11px;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5.5px 0 5.5px 11px;
              border-color: transparent transparent transparent #f4f4f4;
              @include my-transition(all, 0.8s, ease-in-out);
            }
          }
        }
      }
      &:nth-child(even) {
        text-align: left;
        float: right;
        .align-center {
          &:hover {
            &::after {
              background: #ff3399;
            }
            &::before {
              background: #ff3399;
            }
            .variant-text {
              &:hover {
                background: #99cc33;
                color: #ffffff;
                cursor: pointer;
                &::after {
                  border-color: transparent #99cc33 transparent transparent;
                }
              }
            }
          }
          //stick
          &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -4%;
            content: "";
            width: 1px;
            height: 90px;
            background: #dfdfdf;
            @include my-transition(all, 0.8s, ease-in-out);
          }
          //circle
          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -22px;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #dfdfdf;
            @include my-transition(all, 0.8s, ease-in-out);
          }
          //triangle
          .variant-text {
            &:hover {
              background: #99cc33;
              color: #ffffff;
              cursor: pointer;
              &::after {
                border-color: transparent #99cc33 transparent transparent;
              }
            }
            &::after {
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: -2%;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 10px 5px 0;
              border-color: transparent #ffffff transparent transparent;
              @include my-transition(all, 0.8s, ease-in-out);
            }
            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: -11px;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5.5px 11px 5.5px 0;
              border-color: transparent #f4f4f4 transparent transparent;
              @include my-transition(all, 0.8s, ease-in-out);
            }
          }
        }
      }
      //above
      &:nth-child(1) {
        .align-center {
          &::after {
            position: absolute;
            bottom: -50%;
            right: -4%;
            content: "";
            width: 1px;
            height: 45px;
            background: #dfdfdf;
          }
        }
      }
      &:nth-child(2) {
        .align-center {
          &::after {
            position: absolute;
            bottom: -50%;
            left: -4%;
            content: "";
            width: 1px;
            height: 45px;
            background: #dfdfdf;
          }
        }
      }
      //below
      &:nth-last-child(3) {
        .align-center {
          &::after {
            position: absolute;
            top: -50%;
            right: -4%;
            content: "";
            width: 1px;
            height: 45px;
            background: #dfdfdf;
          }
        }
      }
      &:nth-last-child(2) {
        .align-center {
          &::after {
            position: absolute;
            top: -50%;
            left: -4%;
            content: "";
            width: 1px;
            height: 45px;
            background: #dfdfdf;
          }
        }
      }
    }
  }
  .hands-block {
    display: table;
    margin: auto;
    margin-top: 20px;
    width: 1500px;
    height: 390px;
    .hands {
      position: relative;
      float: left;
      margin-left: 25px;
      &::before {
        z-index: 10;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      img{
        position: absolute;
      }
      &:nth-child(1){
        margin: 0;
        height: 390px;
        width: 354px;
        &::before {
          background: url("../images/hands1.png") no-repeat;
        }
        img {
          top: 0;
          left: 36px;
          width: 288px;
          height: 387px;
        }
      }
      &:nth-child(2){
        height: 390px;
        width: 193px;
        &::before {
          background: url("../images/hands2.png") no-repeat;
        }
        img {
          top: 34px;
          left: -1px;
          width: 160px;
          height: 225px;
        }
      }
      &:nth-child(3){
        height: 390px;
        width: 274px;
        &::before {
          background: url("../images/hands3.png") no-repeat;
        }
        img {
          top: 30px;
          left: 32px;
          width: 207px;
          height: 291px;
        }
      }
      &:nth-child(4){
        height: 390px;
        width: 277px;
        &::before {
          background: url("../images/hands4.png") no-repeat;
        }
        img {
          top: 39px;
          left: 17px;
          width: 220px;
          height: 307px;
        }
      }
      &:nth-child(5){
        height: 390px;
        width: 290px;
        &::before {
          background: url("../images/hands5.png") no-repeat;
        }
        img {
          top: 15px;
          left: 36px;
          width: 175px;
          height: 265px;
        }
      }
    }
  }
}