.free-delivery {
  padding-top: 35px;
  padding-bottom: 40px;
  background: #e7e7e7;
  .photo-block {
    float: left;
    width: 265px;
    height: 345px;
    background: url("../images/frame.png") no-repeat;
    -webkit-box-shadow: 20px 6px 8px 1px rgba(192,192,187,0.6);
    -moz-box-shadow: 20px 6px 8px 1px rgba(192,192,187,0.6);
    box-shadow: 20px 6px 8px 1px rgba(192,192,187,0.6);
    position: relative;
    .photo-place {
      position: absolute;
      top: 36px;
      left: 36px;
      width: 195px;
      height: 270px;
      .photo {
        width: 195px;
        height: 270px;
      }
      .rounded-small {
        display: table;
        position: absolute;
        top: 0;
        left: 100%;
        width: 284px;
        height: 269px;
        background: url("../images/rounded-small.png");
        .line-text {
          color: #c0c0c0;
          font-family: OpenSansSemiBold;
          font-size: 13px;
          padding-bottom: 5px;
          padding-right: 12px;
          text-align: right;
          display: table-cell;
          vertical-align: bottom;
          position: relative;
          &::after {
            position: absolute;
            bottom: 6%;
            right: -4px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 13px 5px;
            border-color: transparent transparent #c0c0c0 transparent;
          }
        }
      }
    }
    .rounded-big {
      display: table;
      position: absolute;
      top: 1px;
      left: 100%;
      width: 560px;
      height: 342px;
      background: url("../images/rounded-big.png");
      .line-text {
        color: #c0c0c0;
        font-family: OpenSansSemiBold;
        font-size: 13px;
        padding-bottom: 5px;
        padding-right: 12px;
        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        position: relative;
        &::after {
          position: absolute;
          bottom: 15%;
          right: -4px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 13px 5px;
          border-color: transparent transparent #c0c0c0 transparent;
        }
      }
    }
  }
  .info-block {
    position: relative;
    z-index: 29;
    display: table;
    height: 345px;
    width: 660px;
    float: left;
    margin-left: 65px;
    .align-center {
      display: table-cell;
      vertical-align: middle;
      .info-text {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 40px;
        line-height: 40px;
        .text-bold {
          font-family: OpenSansBold;
        }
      }
      .buttons-block {
        .send-and-get {
          float: left;
          display: table;
          width: 370px;
          height: 42px;
          text-align: center;
          background: #359a46;
          -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
          -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
          .sag-link {
            display: table-cell;
            vertical-align: middle;
            color: #333333;
            font-family: OpenSansRegular;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
        .order {
          float: left;
          display: table;
          margin: auto;
          margin-left: 20px;
          height: 42px;
          width: 220px;
          text-align: center;
          background: #ff3399;
          -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
          .order-link {
            display: table-cell;
            vertical-align: middle;
            color: #ffffff;
            font-family: OpenSansRegular;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }

      }
    }
  }
}