header {
  background: #f8f8f8;
  .fixed-menu {
    width: 100%;
    z-index: 31;
  }
  .color-block {
    .green-color, .pink-color, .cyan-color, .red-color {
      height: 4px;
      float: left;
    }
    .green-color {
      width: 37%;
      background: #99cc33;
    }
    .pink-color {
      width: 20%;
      background: #ff3399;
    }
    .cyan-color {
      width: 18%;
      background: #66ccff;
    }
    .red-color {
      width: 25%;
      background: #ff6666;
    }
  }
  .menu-block {
    background: #3f3f3f;
    .menu {
      float: right;
      padding: 0;
      padding-top: 18px;
      padding-bottom: 13px;
      text-align: right;
      .menu-item {
        list-style: none;
        display: inline;
        text-align: right;
        .link {
          color: #ffffff;
          font-family: OpenSansBold;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          padding: 5px 15px 5px 15px;
          position: relative;
          @include my-transition(all, 0.4s, ease-in-out);
          &:hover,  {
            color: #ff3399;
          }
        }
        .mi-active {
          background: #ff3399;
          cursor: pointer;
          -webkit-box-shadow: 0 1px 1px 0rgba(0, 0, 0, 0.39);
          -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.39);
          &:hover {
            color: #ffffff;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
  .info-block {
    padding-top: 5px;
    padding-bottom: 5px;
    .logo-block, .contact-block {
      float: left;
    }
    .logo-block {
      a {
        text-decoration: none;
      }
      .logo {
        width: 80%;
      }
    }
    .contact-block {
      padding-top: 15px;
      margin-left: 170px;
      .phone {
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 25px;
      }
      .work-time {
        text-transform: uppercase;
        color: #339933;
        font-family: OpenSansRegular;
        font-size: 15px;
      }
    }
    .city-block {
      float: right;
      padding-top: 15px;
      margin-left: 50px;
      .city-label {
        float: left;
        margin-right: 5px;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 14px;
      }
      #city-select {
        width: 260px;
        border: 1px solid black;
      }
      .ui-selectmenu-button {
        border-radius: 0px;
        width: 256px !important;
      }
      .ui-selectmenu-text {
        padding: 6px 0px 6px 11px;
        color: #339933;
        font-family: OpenSansRegular;
        font-size: 15px;
        white-space: normal;
        background: #ffffff;
      }
      .ui-icon {
        height: 100%;
        top: 0;
        right: 0;
        margin-top: 0;
        background-image:  url("../images/triangle.png");
        background-position: 5px 22px;
        background-color: #444444;
      }
    }
  }
  .advantages {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding-bottom: 9px;
    padding-top: 9px;
    .advantage {
      display: inline-block;
      color: #333333;
      font-family: OpenSansRegular;
      font-size: 15px;
      text-transform: uppercase;
      &:nth-child(2) {
        margin-right: 54px;
        margin-left: 54px;
      }
      &:nth-last-child(2){
        margin-right: 38px;
      }
      .a-image {
        margin-right: 15px;
      }
    }
  }
  .menu-top {
    position: fixed;
    top: 0;
  }
}