.order-block {
  padding-top: 20px;
  padding-bottom: 114px;
  background: #f8f8f8;
  .order-form {
    .form-block {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .price-about {
      margin-bottom: 40px;
      .purple-checkbox, .pa-name, .pa-price, .pa-about {
        display: inline-block;
        float: left;
        line-height: 23px;
      }
      .pa-name {
        margin-left: 20px;
        color: #333333;
        font-family: OpenSansBold;
        font-size: 19px;
      }
      .pa-price {
        margin-left: 12px;
        color: #f83a99;
        font-family: OpenSansBold;
        font-size: 19px;
      }
      .pa-about {
        margin-left: 45px;
        color: #339933;
        font-family: OpenSansSemiBold;
        font-size: 15px;
        border-bottom: 1px dashed #339933;
      }
    }
    .fblock-header {
      margin-bottom: 20px;
      .fb-image, .fb-text {
        display: inline-block;
        float: left;
      }
      .fb-text {
        margin-left: 15px;
        color: #339933;
        font-family: OpenSansBold;
        font-size: 19px;
        line-height: 42px;
      }
    }
    .list {
      margin-left: 55px;
    }
    .item {
      margin-bottom: 55px;
      float: left;
      position: relative;
      img {
        width: 133px;
        height: 133px;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(231, 231, 231, 0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(231, 231, 231, 0.75);
        box-shadow: 5px 5px 5px 0px rgba(231, 231, 231, 0.75);
      }
      .hint {
        position: absolute;
        top: 0;
        left: 165px;
        background: #b7e7ff;
        padding: 9px 10px 9px 10px;
        display: table;
        .hint-text {
          display: table-cell;
          vertical-align: middle;
          color: #333333;
          font-family: OpenSansLight;
          font-size: 13px;
          .pink-text {
            color: #f83a99;
            font-family: OpenSansBold;
          }
          position: relative;
          &::before {
            position: absolute;
            content: "";
            left: -24px;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 18px 0;
            border-color: transparent #b7e7ff transparent transparent;
          }
        }
      }
    }
    //first-block
    .chose-size {
      .chose-size-select {
        margin-left: 55px;
        margin-bottom: 20px;
        .ui-selectmenu-button, .size-prize {
          display: inline-block;
          float: left;
        }
        .ui-selectmenu-button {
          margin-right: 15px;
          border-radius: 0px;
          width: 233px !important;
        }
        .ui-selectmenu-text {
          padding: 6px 0px 6px 11px;
          color: #339933;
          font-family: OpenSansRegular;
          font-size: 15px;
          white-space: normal;
          background: #ffffff;
        }
        .ui-icon {
          height: 100%;
          top: 0;
          right: 0;
          margin-top: 0;
          background-image: url("../images/triangle.png");
          background-position: 5px 14px;
          background-color: #444444;
        }
        .size-price {
          color: #f83a99;
          font-family: OpenSansBold;
          font-size: 19px;
          line-height: 33px;
        }
      }
      .check {
        margin-left: 55px;
        width: 580px;
        height: 330px;
        background: url('../images/flat-background.png');
        position: relative;
        .control-image {
          width: 66px;
          height: 66px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 50%;
          margin-left: -20px;
        }
        .hint {
          width: 330px;
          height: 110px;
          background: #b7e7ff;
          display: table;
          position: absolute;
          top: 25%;
          right: -64%;
          .hint-text {
            display: table-cell;
            vertical-align: middle;
            padding-left: 15px;
            color: #333333;
            font-family: OpenSansLight;
            font-size: 13px;
            line-height: 22px;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              bottom: 18px;
              left: -14px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 14px 18px 0;
              border-color: transparent #b7e7ff transparent transparent;
            }
          }
        }
      }
    }
    //second-block
    .add-photo {
      padding-bottom: 40px;
      background: #ffffff;
      .upload-button {
        margin-left: 55px;
        .real-button {
          display: none;
        }
        .uploaded-name {
          display: inline-block;
          float: left;
          height: 28px;
          width: 780px;
          padding-left: 15px;
        }
        .fake-button {
          display: inline-block;
          float: left;
          margin-left: 22px;
          height: 33px;
          width: 124px;
          border: none;
          font-family: OpenSansRegular;
          color: #333333;
          font-size: 13px;
          line-height: 9px;
          text-align: center;
          background: #a7dc3b;
          -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
          -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
        }
      }
      .hint {
        width: 795px;
        margin-left: 55px;
        background: #a8dffa;
        position: relative;
        .hint-text {
          margin-top: 30px;
          padding: 9px 5px 9px 15px;
          color: #333333;
          font-family: OpenSansLight;
          font-size: 13px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: -14px;
            left: 18px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 0 0 18px;
            border-color: transparent transparent transparent #a8dffa;
          }
          .purple-text {
            color: #f83a99;
            font-family: OpenSansBold;
          }
        }
      }
    }
    //third-block
    .decoration {
      .canvas {
        .item1 {
          width: 325px;
          .hint .hint-text {
            width: 140px;
          }
        }
        .item2 {
          width: 440px;
          margin-left: 30px;
          .hint .hint-text {
            width: 240px;
          }
        }
      }
      .cover {
        .item1 {
          width: 140px;
        }
        .item2 {
          width: 430px;
          margin-left: 30px;
          .hint .hint-text {
            width: 240px;
          }
        }
      }
    }
    //forth-block
    .frame {
      background: #ffffff;
      .full-frame {
        .item1 {
          margin-right: 30px;
        }
      }
      .corner-frame {
        padding-bottom: 40px;
        position: relative;
        .item {
          margin-right: 40px;
          position: relative;
          .purple-checkbox {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
          }
          img {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
        .hint {
          width: 370px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #b7e7ff;
          padding: 9px 10px 9px 10px;
          display: table;
          .hint-text {
            display: table-cell;
            vertical-align: middle;
            color: #333333;
            font-family: OpenSansLight;
            font-size: 13px;
            .pink-text {
              color: #f83a99;
              font-family: OpenSansBold;
            }
            position: relative;
            &::before {
              position: absolute;
              content: "";
              left: 0;
              top: -23px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 14px 0 0 18px;
              border-color: transparent transparent transparent #b7e7ff;
            }
          }
        }
      }
    }
    //fifth-block
    .processing {
      .correction {
        .item {
          margin-right: 40px;
        }
        .hint {
          width: 200px;
        }
      }
      .art-processing {
        margin-bottom: 40px;
        position: relative;
        .item {
          margin-right: 40px;
        }
        .hint {
          width: 550px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #b7e7ff;
          padding: 9px 10px 9px 10px;
          display: table;
          .hint-text {
            display: table-cell;
            vertical-align: middle;
            color: #333333;
            font-family: OpenSansLight;
            font-size: 13px;
            .pink-text {
              color: #f83a99;
              font-family: OpenSansBold;
            }
            position: relative;
            &::before {
              position: absolute;
              content: "";
              left: 0;
              top: -23px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 14px 0 0 18px;
              border-color: transparent transparent transparent #b7e7ff;
            }
          }
        }
      }
      .caricature {
        margin-bottom: 40px;
        position: relative;
        .item {
          margin-right: 40px;
        }
        .hint {
          width: 550px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #b7e7ff;
          padding: 9px 10px 9px 10px;
          display: table;
          .hint-text {
            display: table-cell;
            vertical-align: middle;
            color: #333333;
            font-family: OpenSansLight;
            font-size: 13px;
            .pink-text {
              color: #f83a99;
              font-family: OpenSansBold;
            }
            position: relative;
            &::before {
              position: absolute;
              content: "";
              left: 0;
              top: -23px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 14px 0 0 18px;
              border-color: transparent transparent transparent #b7e7ff;
            }
          }
        }
      }
    }
    //sixth-block
    .request {
      background: #ffffff;
      .list {
        margin-bottom: 20px;
        .inputs {
          float: left;
          width: 295px;
          .small-input {
            padding: 4px 5px 4px 5px;
            width: 281px;
            color: #333333;
            font-family: OpenSansRegular;
            font-size: 14px;
          }
          .hint {
            margin-top: 5px;
            text-align: right;
            color: #339933;
            font-family: OpenSansRegular;
            font-size: 13px;
          }
          margin-left: 15px;
          margin-right: 15px;
          &:nth-child(1) {
            margin-left: 0;
          }
          &:nth-last-child(2) {
            margin-right: 0;
          }
        }
        .bottom {
          .response {
            margin-bottom: 45px;
            box-sizing: border-box;
            width: 100%;
            height: 80px;
            padding-left: 5px;
            padding-top: 5px;
            resize: none;
            line-height: 24px;
            color: #333333;
            font-family: OpenSansRegular;
            font-size: 14px;
          }
          .sum {
            padding-top: 9px;
            padding-bottom: 9px;
            background: #91c646;
            text-align: center;
            .sum-text {
              text-transform: uppercase;
              display: inline-block;
              color: #ffffff;
              font-family: OpenSansSemiBold;
              font-size: 17px;
            }
            .sum-amount {
              margin-left: 10px;
              display: inline-block;
              color: #f83a99;
              font-family: OpenSansBold;
              font-size: 19px;
            }
          }
        }
      }
    }
    .sum-bottom {
      z-index: 40;
      width: 945px;
      position: fixed;
      bottom: 0;
    }

    .accordion {
      .ui-accordion-header {
        cursor: auto;
        border: none;
        background: transparent;
        padding: 20px 5px 20px 60px;
        margin: 0;
        &:focus {
          outline: none;
        }
        .trigger {
          cursor: pointer;
        }
      }
      .ui-icon {
        display: none;
      }
      .price-about {
        margin: 0;
      }
      .ui-accordion-content {
        padding-left: 60px;
        border: none;
        background: transparent;
      }
      .hint-above {
        margin-left: 55px !important;
      }
    }
  }
}

.op-footer {
  .copyright {
    color: #999999;
  }
}