.order-pikcher {
  padding-top: 20px;
  padding-bottom: 40px;
  .why-pikcher-list {
    position: relative;
    .image-bg {
      width: 540px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    .pikcher-list {
      .list-item {
        width: 225px;
        margin-top: 27px;
        margin-bottom: 22px;
        .text-bold {
          color: #339933;
          font-family: OpenSansExtraBold;
          font-size: 19px;
        }
        .other-text {
          color: #339933;
          font-family: OpenSansLight;
          font-size: 16px;
        }
        &:nth-child(odd) {
          float: left;
          text-align: right;
          margin-right: 275px;
        }
        &:nth-child(even) {
          float: right;
          text-align: left;
          margin-left: 275px;
        }
      }
    }
  }
}