.original-gift {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/background1.png");
  background-size: cover;
  .text-for-form {
    width: 635px;
    margin-top: 72px;
    padding-top: 25px;
    padding-bottom: 28px;
    float: left;
    background:  rgba(121, 168, 28, 0.9);
    position: relative;
    .text-bold, .text-normal, .text-small{
      color:  #f8f8f8;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
    }
    .text-bold {
      font-family: OpenSansBold;
      font-size: 36px;
      text-transform: uppercase;
    }
    .text-normal {
      font-family: OpenSansRegular;
      font-size: 36px;
      text-transform: uppercase;
    }
    .text-small {
      font-family: OpenSansRegular;
      font-size: 22px;
    }
    .pink-arrow {
      color:  #f8f8f8;
      font-family: OpenSansRegular;
      font-size: 22px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 20px;
      position: absolute;
      bottom: -30px;
      right: -20px;
      background-image: url("../images/pink-arrow.png");
      background-size: cover;
      width: 474px;
      -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      transform: rotate(-3deg)
    }
  }
  .form-wraper {
    float: right;
  }
}