.payment, .delivery {
  padding-top: 35px;
  padding-bottom: 50px;
  .block-header {
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .list {
    .list-header {
      .list-name, .list-image {
        display: inline-block;
        float: left;
      }
      .list-image {
      }
      .list-name {
        margin-left: 15px;
        color: #339933;
        font-family: OpenSansLight;
        font-size: 19px;
        line-height: 42px;
      }
    }
    .list-items {
      margin-left: 72px;
      margin-bottom: 50px;
      .list-item {
        margin-bottom: 10px;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 14px;
        list-style: none;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          margin: auto;
          left: -15px;
          width: 7px;
          height: 7px;
          background: #f83a99;
          border-radius: 100%;
        }
      }
    }
    .text-bold {
      font-family: OpenSansBold;
      font-size: 16px;
    }
    .block-info {
      margin-top: 20px;
      margin-left: 60px;
      color: #333333;
      font-family: OpenSansRegular;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .blue-block {
    display: table;
    margin: auto;
    width: 590px;
    height: 38px;
    background: #a8dffa;
    text-align: center;
    .text-inside {
      display: table-cell;
      vertical-align: middle;
      color: #333333;
      font-family: OpenSansLight;
      font-size: 15px;
    }
  }
  .services-image-list {
    display: table;
    margin: auto;
    width: 940px;
    margin-top: 40px;
    .sil-item {
      display: inline-block;
      float: left;
      margin-left: 13px;
      margin-right: 13px;
      &:first-child {
        margin-left: 0;
      }
      &:nth-last-child(2) {
        margin-right: 0;
      }
    }
  }
}

.delivery {
  background: #f8f8f8;
  padding-bottom: 134px;
}