.picture-types {
  background: #f8f8f8;
}

.picture-type-block {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #f8f8f8;
  .container {
    width: 940px;
  }
  .color-header {
    width: 100%;
  }
  .picture-types-tabs {
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    .navigation {
      padding: 0;
      background: transparent;
      border: 0;
      border-radius: 0;
      margin-bottom: -1px;
      .nav-item {
        padding: 0;
        margin: 0;
        border: 1px solid #e9e9e9;
        border-bottom: 0;
        border-radius: 0;
        margin-left: 2px;
        margin-right: 2px;
        @include my-transition(all, 0.5s, ease-in-out);
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: -10px;
          .nav-link {
            padding-right: 14px;
          }
        }
        &::before {
          display: none;
          z-index: 1;
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 5px;
        }
        &:hover {
          background: #ffffff;
          .nav-link {
            color: #333333;
          }
        }
        .nav-link {
          color: #ffffff;
          font-family: OpenSansSemiBold;
          font-size: 14px;
          text-transform: uppercase;
          padding: 13px 12px 13px 11px;
          @include my-transition(all, 0.5s, ease-in-out);
        }
      }
      .ui-state-active {
        .nav-link {
          color: #333333;
          background: #ffffff;
          position: relative;
        }
        &:before {
          display: block;
        }
      }
      .green {
        background: #2a9548;
        &:hover {
          &::before {
            display: block;
            background: #2a9548;
          }
        }
        &.ui-state-active {
          &::before {
            background: #2a9548;
          }
        }
      }
      .pink {
        background: #f83a99;
        &:hover {
          &::before {
            display: block;
            background: #f83a99;
          }
        }
        &.ui-state-active {
          &::before {
            background: #f83a99;
          }
        }
      }
      .light-green {
        background: #99cc33;
        &:hover {
          &::before {
            display: block;
            background: #99cc33;
          }
        }
        &.ui-state-active {
          &::before {
            background: #99cc33;
          }
        }
      }
      .blue {
        background: #66ccff;
        &:hover {
          &::before {
            display: block;
            background: #66ccff;
          }
        }
        &.ui-state-active {
          &::before {
            background: #66ccff;
          }
        }
      }
      .light-red {
        background: #ff6666;
        &:hover {
          &::before {
            display: block;
            background: #ff6666;
          }
        }
        &.ui-state-active {
          &::before {
            background: #ff6666;
          }
        }
      }
    }
    .tab {
      padding-top: 20px;
      padding-bottom: 40px;
      border: 1px solid #e9e9e9;
      background: #ffffff;
      .tab-header {
        text-align: center;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 33px;
        margin-bottom: 50px;
      }
      .transform-list {
        .transform-block {
          display: table;
          margin: auto;
          margin-bottom: 30px;
          width: 700px;
          height: 350px;
          position: relative;
          &:nth-child(5n-4) {
            .photo-before {
              .image {
                top: 13px;
                right: 0;
                @include my-rotate(-10deg);
              }
            }
          }
          &:nth-child(5n-3) {
            .photo-before {
              .image {
                top: 40px;
                right: 5px;
                @include my-rotate(-10deg);
              }
            }
          }
          &:nth-child(5n-2) {
            .photo-before {
              .image {
                width: 90px;
                height: 140px;
                bottom: 12px;
                right: 30px;
                @include my-rotate(-12deg);
              }
              &:before {
                position: absolute;
                content: "";
                top: 22px;
                left: 15px;
                width: 175px;
                height: 250px;
                background: #f0ecec;
                -webkit-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                -moz-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                @include my-rotate(-13deg);
              }
            }
          }
          &:nth-child(5n-1) {
            .photo-before {
              .image {
                width: 100px;
                height: 150px;
                bottom: 12px;
                right: 29px;
                @include my-rotate(-14deg);
              }
              &:before {
                position: absolute;
                content: "";
                top: 22px;
                left: 15px;
                width: 175px;
                height: 250px;
                background: #f0ecec;
                -webkit-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                -moz-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                @include my-rotate(-13deg);
              }
            }
          }
          &:nth-child(5n) {
            .photo-before {
              .image {
                width: 135px;
                height: 165px;
                top: 30px;
                right: 0;
                @include my-rotate(-10deg);
              }
              &:before {
                position: absolute;
                content: "";
                top: 5px;
                right: -12px;
                width: 165px;
                height: 220px;
                background: #f0ecec;
                -webkit-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                -moz-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
                @include my-rotate(8deg);
              }
            }
          }
        }
        .photo-before {
          float: left;
          width: 190px;
          height: 250px;
          background: #f8f8f8;
          -webkit-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
          -moz-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
          box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
          @include my-rotate(1deg);
          position: relative;
          .image {
            width: 165px;
            height: 210px;
            -webkit-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
            -moz-box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
            box-shadow: 7px 7px 5px -5px rgba(207, 207, 207, 1);
            position: absolute;
          }
        }
        .pink-arrow {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 50%;
          margin-left: -85.5px;
        }
        .photo-after {
          float: right;
          width: 230px;
          height: 325px;
          position: relative;
          .main-piece {
            width: 205px;
            height: 325px;
            position: absolute;
            z-index: 2;
            top: 0;
            right: 15px;
            clip: rect(0px, 185px, 325px, 0px);
            transform: perspective(600px) rotateX(0deg) rotateY(-23deg) rotateZ(2deg);
          }
          .additional-piece {
            width: 206px;
            height: 372px;
            position: absolute;
            z-index: 1;
            top: -23px;
            right: 1px;
            clip: rect(0px, 205px, 368px, 185px);
            transform: perspective(600px) rotateX(0deg) rotateY(30.9deg) rotateZ(2deg);
          }
          &::before {
            position: absolute;
            z-index: 2;
            top: -22px;
            right: 2px;
            content: "";
            width: 206px;
            height: 372px;
            background: rgba(0, 0, 0, 0.5);
            clip: rect(0px, 205px, 367px, 185px);
            transform: perspective(600px) rotateX(0deg) rotateY(30deg) rotateZ(2deg);
          }
          &::after {
            position: absolute;
            z-index: 0;
            top: 20px;
            right: 32px;
            content: "";
            width: 10%;
            height: 93%;
            -webkit-box-shadow: 25px 5px 34px 2px #e3ded9;
            -moz-box-shadow: 25px 5px 34px 2px #e3ded9;
            box-shadow: 25px 5px 34px 2px #e3ded9;
            transform: perspective(600px) rotateX(0deg) rotateY(10deg) rotateZ(-2deg);
          }
        }
      }
      .image-list {
        .image-block {
          margin-bottom: 10px;
          .image {
            width: 400px;
            height: 400px;
          }
          &:nth-child(even){
            float: left;
            margin-left: 20px;
          }
          &:nth-child(odd) {
            float: right;
            margin-right: 20px;
          }
        }
      }
      .green-bottom {
        text-transform: uppercase;
      }
      .purple-button {
        margin-top: 20px;
      }
    }
  }
}

.for-whom-add {
  padding-bottom: 164px;
}

.ptp-footer {
  .copyright {
    color: #999999;
  }
}