.popup-privacy-policy {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  background: rgb(255,255,255);
  .ppp-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -400px;
    .ppp-text {
      height: 700px;
      width: 800px;
      border: 2px solid black;
      position: relative;
      .closer {
        position: absolute;
        top: -19px;
        right: -19px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}