.popup-response {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 40;
  background: rgba(255,255,255,0.85);
  .response-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -165px;
    .response-form {
      position: relative;
      .close-form {
        position: absolute;
        top: -19px;
        right: -19px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}