.popup-success {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 40;
  background: rgba(255,255,255,0.85);
  .success-wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -165px;
    .success {
      position: relative;
      .close-button {
        position: absolute;
        top: -19px;
        right: -19px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}