.production {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f8f8f8;
  .production-cycle {
    padding-top: 20px;
    padding-bottom: 20px;
    .cycle-stage {
      width: 153px;
      display: inline-block;
      margin-left: 27px;
      margin-right: 27px;
      position: relative;
      &:nth-child(odd) {
        &::after {
          position: absolute;
          top: 25%;
          right: -47%;
          content: "";
          width: 83px;
          height: 14px;
          background: url("../images/bottom-pink-arrow.png");
        }
      }
      &:nth-child(even) {
        &::after {
          position: absolute;
          top: 10%;
          right: -47%;
          content: "";
          width: 82px;
          height: 13px;
          background: url("../images/top-pink-arrow.png");
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: -10px;
        &::after {
          width: 0;
        }
      }
      .image-wraper {
        display: block;
        margin: auto;
        position: relative;
        width: 88px;
        height: 88px;
        .num-place {
          position: absolute;
          z-index: 1;
          top: -5px;
          left: -10px;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          background: #99cc33;
          color: #ffffff;
          font-family: RobotoRegular;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        }
        .image {
          border-radius: 100%;
          height: 100%;
          width: 100%;
          background-position: center center;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: -7px;
            left: -7px;
            width: 88px;
            height: 88px;
            border: 7px solid #ffffff;
            border-radius: 100%;
          }
        }
      }
      .stage-text {
        display: block;
        margin: auto;
        margin-top: 15px;
        text-align: center;
        color: #333333;
        font-family: OpenSansLight;
        font-size: 15px;
        .text-bold {
          font-family: OpenSansBold;
        }
      }
    }
  }
}

