.pagination {
  padding-top: 40px;
  padding-bottom: 114px;
  .page {
    display: table;
    margin: auto;
    width: 940px;
    .response {
      .left-side {
        float: left;
        .image-wraper {
          display: block;
          margin: auto;
          width: 100px;
          height: 100px;
          margin-top: 10px;
          margin-bottom: 38px;
          .image {
            height: 100%;
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
        }
      }
      .right-side {
        float: left;
        margin-left: 26px;
        padding-top: 5px;
        width: 780px;
        .author {
          margin-bottom: 15px;
          .name, .city  {
            display: inline-block;
            float: left;
            color: #333333;
            font-family: OpenSansBold;
            font-size: 17px;
          }
          .city {
            margin-left: 5px;
            color: #339933;
          }
          .date {
            float: right;
            color: #333333;
            font-family: OpenSansBold;
            font-size: 17px;
          }
        }
        .response-text {
          color: #333333;
          font-family: OpenSansRegular;
          font-size: 14px;
        }
      }
      margin-bottom: 55px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: url("../images/colorfull-line.png");
        background-size: cover;
      }
      &:last-child {
        &::after {
          width: 0;
        }
      }
    }
  }
  .page-control {
    display: table;
    margin: auto;
    .link-item {
      display: inline-block;
      box-sizing: border-box;
      padding: 5px 9px 5px 9px;
      .link {
        color: #8c8c8c;
        font-family: OpenSansLight;
        font-size: 14px;
        text-decoration: none;
        @include my-transition(all, 0.4s, ease-in-out);
        &:hover {
          color: #f83a99;

        }
      }
    }
  }

}