.ui-selectmenu-menu {
  .ui-menu {
    .ui-menu-item{
      margin: 1px;
      width: 227px;
      padding: 6px 0px 6px 11px;
      color: #339933;
      font-family: OpenSansRegular;
      font-size: 15px;
      white-space: normal;
      background: #ffffff;
      border: none;
      &:hover {
        outline: 1px solid #666666;
        background: rgba(0,0,0,0.2);
      }
    }
  }
}
.select-overflow {
  height: 500px;
}



