.container.gallery_simple{
   .item_arr{
     width: 273px;
     height: 220px;
     float: left;
     margin-right: 5px;
     &:last-child{
       margin-right: 0px;
     }
   }
}

.slider {
    padding-top: 20px;
    padding-bottom: 30px;
    .color-header {
        width: 920px;
    }
    .slider-control {
        position: relative;
        .slider-prev, .slider-next {
            width: 31px;
            height: 32px;
            position: absolute;
            bottom: 15px;
            opacity: 0.5;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        .slider-prev {
            left: 0;
            background: url("../images/slider/arrow-prev.png") no-repeat;
        }
        .slider-next {
            right: 0;
            background: url("../images/slider/arrow-next.png") no-repeat;
        }
    }
    .two-rows-carousel {
        margin-bottom: 10px;
        .image {
            display: block;
            margin: 0 auto;
            width: 273px;
            height: 224px;
            border: 45px solid white;
            border-top-width: 0px;
            border-bottom-width: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        .owl-controls {
            margin: 0;
            .owl-pagination, .owl-buttons {
                display: none;
            }
        }
    }
    .link-box {
        display: block;
        text-align: center;
        .clients-link {
            text-align: center;
            color: #339933;
            font-family: OpenSansSemiBold;
            font-size: 15px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .slider-opacity {
        position: relative;
        .left-side, .right-side {
            position: absolute;
            z-index: 2;
            top: 0;
            width: 350px;
            height: 500px;
            background: rgba(255, 255, 255, 0.55);
        }
        .left-side {
            left: 0;
        }
        .right-side {
            right: 0;
        }
    }
}
