.specialists {
  padding-top: 20px;
  padding-bottom: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  .color-header {
    width: 1000px;
  }
  .specialists-scontrol {
    position: relative;
    .slider-prev, .slider-next {
      width: 31px;
      height: 32px;
      position: absolute;
      bottom: 15px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    .slider-prev {
      left: -40px;
      background: url("../images/slider/arrow-prev.png") no-repeat;
    }
    .slider-next {
      right: -40px;
      background: url("../images/slider/arrow-next.png") no-repeat;
    }
  }
  .specialist-slider {
    .owl-controls {
      margin: 0;
      .owl-pagination, .owl-buttons {
        display: none;
      }
    }
    .item {
      width: 200px;
      height: 260px;
      text-align: center;
      .image-wraper {
        display: block;
        margin: auto;
        width: 144px;
        height: 144px;
        margin-top: 10px;
        margin-bottom: 38px;
        .image {
          border-radius: 100%;
          height: 100%;
          width: 100%;
          background-position: top;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: -7px;
            left: -7px;
            width: 144px;
            height: 144px;
            border: 7px solid #f1f1f1;
            border-radius: 100%;
          }
        }
      }
      .name {
        color: #333333;
        font-family: OpenSansBold;
        font-size: 17px;
      }
      .post {
        color: #333333;
        font-family: OpenSansLight;
        font-size: 17px;
      }
      position: relative;
      &:after {
        position: absolute;
        content: "";
        top: 65%;
        left: 50%;
        margin-left: -6px;
        width: 12px;
        height: 5px;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);

      }
    }
    .man {
      &:after {
        background: #99cc33;
      }
    }
    .woman {
      &:after {
        background: #ff3399;
      }
    }
  }
}