.why-picture {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/background-why-picture.png");
  background-size: cover;
  .advantages-list {
    width: 960px;
    margin: auto;
    margin-bottom: 20px;
    .advantage {
      width: 295px;
      height: 135px;
      float: left;
      margin-bottom: 20px;
      &:hover {
        .advantage-text {
          color: #cc0066;
          cursor: pointer;
          .text-bold {
            color: #cc0066;
            cursor: pointer;
          }
        }
      }
      &:nth-child(3n-1) {
        margin-right: 37px;
        margin-left: 37px;
      }
      .advantage-img {
        margin-bottom: 20px;
      }
      .advantage-text {
        @include my-transition(color, 0.4s, linear);
        color: #004173;
        font-family: OpenSansSemiBold;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        .text-bold {
          @include my-transition(color, 0.4s, linear);
          font-family: OpenSansExtraBold;
        }
      }
    }
  }
  .why-picture-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    .hint {
      position: absolute;
      top: 0;
      width: 300px;
      height: 80px;
      background-color:  #68cdff;
      display: table;
    }
    .left-hint {
      left: 0;
      //opacity: 0;
      @include my-transition(opacity,0.4s,linear);
    }
    .right-hint {
      right: 0;
      //opacity: 0;
      @include my-transition(opacity,0.8s,linear);
    }
    .right-arrow {
      position: relative;
      height: 100%;
      display: table;
      &::after {
        position: absolute;
        content: "";
        right: -2.6%;
        top: 44%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4.5px 0 4.5px 8px;
        border-color: transparent transparent transparent #68cdff;
      }
    }
    .left-arrow {
      position: relative;
      height: 100%;
      display: table;
      &::after {
        position: absolute;
        left: -2.6%;
        top: 44%;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4.5px 8px 4.5px 0;
        border-color: transparent #68cdff transparent transparent ;
      }
    }
    .hint-text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 12px;
      color: #003366;
      font-family: OpenSansLight;
      font-size: 14px;
      .bold-text {
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 14px;
      }
    }
    .mackup-button {
      display: table;
      margin: auto;
      width: 300px;
      height: 60px;
      text-align: center;
      background: #359a46;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.45);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
      .mackup-link {
        display: table-cell;
        vertical-align: middle;
        color: #333333;
        font-family: OpenSansRegular;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}